# Data Cleaning

# Table of Contents

1. [Import Libraries](#Import-Libraries)
1. [Obtain Data](#Obtain-Data)
1. [Check For Nulls](#Check-For-Nulls)
1. [Format Data](#Format-Data)
1. [Standardize Column Names](#Standardize-Column-Names)
1. [Filter observation_percent](#Filter-observation_percent)
1. [Create Merge Column](#Create-Merge-Column)
1. [Eliminate Duplicates in Merge Column](#Eliminate-Duplicates-in-Merge-Column)
1. [Filter sample_duration](#Filter-sample_duration)
1. [Aggregate data for merge_column](#Aggregate-data-for-merge_column)
1. [Format AQI dataframe](#Format-AQI-dataframe)
1. [Merge all dataframes](#Merge-all-dataframes)

# Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 40)

In [3]:
import warnings
warnings.filterwarnings("ignore")

# Obtain Data

### Add webscraping

All data was downloaded from the EPA website and can be found here: https://aqs.epa.gov/aqsweb/airdata/download_files.html. The EPA only allows data to be pulled for one year at a time. I will use my `combine_annual_data` function to combine these yearly files into one big file. 

For the scope of this project, I have downloaded data for the 20 years from 2000 through 2019. At the time of this project, the quality of the data from the second half of 2019 has yet to be verified by the EPA. I may decide to drop half or all of 2019 during the EDA phase.

In [4]:
def combine_annual_data(measure):
    """
    Combines files for each year into one big file for given measure
    
    Input:
    measure (string) - ['co', 'so2', 'no2', 'o3', 'pm10', 'pm25', 
                        'aqi', 'pressure', 'temperature', 'wind']
    
    Output:
    dataframe
    """
     
    measure_codes = {'co': '42101', 'so2': '42401', 'no2': '42602', 'o3': '44201', 
                     'pm10': '81102', 'pm25': '88101', 'aqi': 'aqi_by_county',
                     'pressure': 'PRESS', 'temperature': 'TEMP', 'wind': 'WIND'}
    
    prefix = 'all_data\daily_'
    code = measure_codes.get(measure)
    suffix = '.csv'
    
    #Create list of filenames for given measure
    filenames = []
    for i in range(20):
        year = 2000+i
        file = prefix + code + '_' + str(year) + suffix
        print(f'Adding file {file}')
        filenames.append(file)
    
    print('Combining files...')
    df = pd.concat([pd.read_csv(f) for f in filenames], ignore_index = True)
    print(f'Done! \nShape of dataframe for {measure} for 2000-2019: {df.shape}')
    return df

In [5]:
co = combine_annual_data('co')

Adding file all_data\daily_42101_2000.csv
Adding file all_data\daily_42101_2001.csv
Adding file all_data\daily_42101_2002.csv
Adding file all_data\daily_42101_2003.csv
Adding file all_data\daily_42101_2004.csv
Adding file all_data\daily_42101_2005.csv
Adding file all_data\daily_42101_2006.csv
Adding file all_data\daily_42101_2007.csv
Adding file all_data\daily_42101_2008.csv
Adding file all_data\daily_42101_2009.csv
Adding file all_data\daily_42101_2010.csv
Adding file all_data\daily_42101_2011.csv
Adding file all_data\daily_42101_2012.csv
Adding file all_data\daily_42101_2013.csv
Adding file all_data\daily_42101_2014.csv
Adding file all_data\daily_42101_2015.csv
Adding file all_data\daily_42101_2016.csv
Adding file all_data\daily_42101_2017.csv
Adding file all_data\daily_42101_2018.csv
Adding file all_data\daily_42101_2019.csv
Combining files...
Done!
Shape of dataframe for co for 2000-2019: (4976812, 29)

In [6]:
so2 = combine_annual_data('so2')

Adding file all_data\daily_42401_2000.csv
Adding file all_data\daily_42401_2001.csv
Adding file all_data\daily_42401_2002.csv
Adding file all_data\daily_42401_2003.csv
Adding file all_data\daily_42401_2004.csv
Adding file all_data\daily_42401_2005.csv
Adding file all_data\daily_42401_2006.csv
Adding file all_data\daily_42401_2007.csv
Adding file all_data\daily_42401_2008.csv
Adding file all_data\daily_42401_2009.csv
Adding file all_data\daily_42401_2010.csv
Adding file all_data\daily_42401_2011.csv
Adding file all_data\daily_42401_2012.csv
Adding file all_data\daily_42401_2013.csv
Adding file all_data\daily_42401_2014.csv
Adding file all_data\daily_42401_2015.csv
Adding file all_data\daily_42401_2016.csv
Adding file all_data\daily_42401_2017.csv
Adding file all_data\daily_42401_2018.csv
Adding file all_data\daily_42401_2019.csv
Combining files...
Done!
Shape of dataframe for so2 for 2000-2019: (6874455, 29)

In [7]:
no2 = combine_annual_data('no2')

Adding file all_data\daily_42602_2000.csv
Adding file all_data\daily_42602_2001.csv
Adding file all_data\daily_42602_2002.csv
Adding file all_data\daily_42602_2003.csv
Adding file all_data\daily_42602_2004.csv
Adding file all_data\daily_42602_2005.csv
Adding file all_data\daily_42602_2006.csv
Adding file all_data\daily_42602_2007.csv
Adding file all_data\daily_42602_2008.csv
Adding file all_data\daily_42602_2009.csv
Adding file all_data\daily_42602_2010.csv
Adding file all_data\daily_42602_2011.csv
Adding file all_data\daily_42602_2012.csv
Adding file all_data\daily_42602_2013.csv
Adding file all_data\daily_42602_2014.csv
Adding file all_data\daily_42602_2015.csv
Adding file all_data\daily_42602_2016.csv
Adding file all_data\daily_42602_2017.csv
Adding file all_data\daily_42602_2018.csv
Adding file all_data\daily_42602_2019.csv
Combining files...
Done!
Shape of dataframe for no2 for 2000-2019: (2829046, 29)

In [8]:
o3 = combine_annual_data('o3')

Adding file all_data\daily_44201_2000.csv
Adding file all_data\daily_44201_2001.csv
Adding file all_data\daily_44201_2002.csv
Adding file all_data\daily_44201_2003.csv
Adding file all_data\daily_44201_2004.csv
Adding file all_data\daily_44201_2005.csv
Adding file all_data\daily_44201_2006.csv
Adding file all_data\daily_44201_2007.csv
Adding file all_data\daily_44201_2008.csv
Adding file all_data\daily_44201_2009.csv
Adding file all_data\daily_44201_2010.csv
Adding file all_data\daily_44201_2011.csv
Adding file all_data\daily_44201_2012.csv
Adding file all_data\daily_44201_2013.csv
Adding file all_data\daily_44201_2014.csv
Adding file all_data\daily_44201_2015.csv
Adding file all_data\daily_44201_2016.csv
Adding file all_data\daily_44201_2017.csv
Adding file all_data\daily_44201_2018.csv
Adding file all_data\daily_44201_2019.csv
Combining files...
Done!
Shape of dataframe for o3 for 2000-2019: (7281203, 29)

In [9]:
pm10 = combine_annual_data('pm10')

Adding file all_data\daily_81102_2000.csv
Adding file all_data\daily_81102_2001.csv
Adding file all_data\daily_81102_2002.csv
Adding file all_data\daily_81102_2003.csv
Adding file all_data\daily_81102_2004.csv
Adding file all_data\daily_81102_2005.csv
Adding file all_data\daily_81102_2006.csv
Adding file all_data\daily_81102_2007.csv
Adding file all_data\daily_81102_2008.csv
Adding file all_data\daily_81102_2009.csv
Adding file all_data\daily_81102_2010.csv
Adding file all_data\daily_81102_2011.csv
Adding file all_data\daily_81102_2012.csv
Adding file all_data\daily_81102_2013.csv
Adding file all_data\daily_81102_2014.csv
Adding file all_data\daily_81102_2015.csv
Adding file all_data\daily_81102_2016.csv
Adding file all_data\daily_81102_2017.csv
Adding file all_data\daily_81102_2018.csv
Adding file all_data\daily_81102_2019.csv
Combining files...
Done!
Shape of dataframe for pm10 for 2000-2019: (3047476, 29)

In [10]:
pm25 = combine_annual_data('pm25')

Adding file all_data\daily_88101_2000.csv
Adding file all_data\daily_88101_2001.csv
Adding file all_data\daily_88101_2002.csv
Adding file all_data\daily_88101_2003.csv
Adding file all_data\daily_88101_2004.csv
Adding file all_data\daily_88101_2005.csv
Adding file all_data\daily_88101_2006.csv
Adding file all_data\daily_88101_2007.csv
Adding file all_data\daily_88101_2008.csv
Adding file all_data\daily_88101_2009.csv
Adding file all_data\daily_88101_2010.csv
Adding file all_data\daily_88101_2011.csv
Adding file all_data\daily_88101_2012.csv
Adding file all_data\daily_88101_2013.csv
Adding file all_data\daily_88101_2014.csv
Adding file all_data\daily_88101_2015.csv
Adding file all_data\daily_88101_2016.csv
Adding file all_data\daily_88101_2017.csv
Adding file all_data\daily_88101_2018.csv
Adding file all_data\daily_88101_2019.csv
Combining files...
Done!
Shape of dataframe for pm25 for 2000-2019: (5032639, 29)

In [11]:
pressure = combine_annual_data('pressure')

Adding file all_data\daily_PRESS_2000.csv
Adding file all_data\daily_PRESS_2001.csv
Adding file all_data\daily_PRESS_2002.csv
Adding file all_data\daily_PRESS_2003.csv
Adding file all_data\daily_PRESS_2004.csv
Adding file all_data\daily_PRESS_2005.csv
Adding file all_data\daily_PRESS_2006.csv
Adding file all_data\daily_PRESS_2007.csv
Adding file all_data\daily_PRESS_2008.csv
Adding file all_data\daily_PRESS_2009.csv
Adding file all_data\daily_PRESS_2010.csv
Adding file all_data\daily_PRESS_2011.csv
Adding file all_data\daily_PRESS_2012.csv
Adding file all_data\daily_PRESS_2013.csv
Adding file all_data\daily_PRESS_2014.csv
Adding file all_data\daily_PRESS_2015.csv
Adding file all_data\daily_PRESS_2016.csv
Adding file all_data\daily_PRESS_2017.csv
Adding file all_data\daily_PRESS_2018.csv
Adding file all_data\daily_PRESS_2019.csv
Combining files...
Done!
Shape of dataframe for pressure for 2000-2019: (1758728, 29)

In [12]:
temperature = combine_annual_data('temperature')

Adding file all_data\daily_TEMP_2000.csv
Adding file all_data\daily_TEMP_2001.csv
Adding file all_data\daily_TEMP_2002.csv
Adding file all_data\daily_TEMP_2003.csv
Adding file all_data\daily_TEMP_2004.csv
Adding file all_data\daily_TEMP_2005.csv
Adding file all_data\daily_TEMP_2006.csv
Adding file all_data\daily_TEMP_2007.csv
Adding file all_data\daily_TEMP_2008.csv
Adding file all_data\daily_TEMP_2009.csv
Adding file all_data\daily_TEMP_2010.csv
Adding file all_data\daily_TEMP_2011.csv
Adding file all_data\daily_TEMP_2012.csv
Adding file all_data\daily_TEMP_2013.csv
Adding file all_data\daily_TEMP_2014.csv
Adding file all_data\daily_TEMP_2015.csv
Adding file all_data\daily_TEMP_2016.csv
Adding file all_data\daily_TEMP_2017.csv
Adding file all_data\daily_TEMP_2018.csv
Adding file all_data\daily_TEMP_2019.csv
Combining files...
Done!
Shape of dataframe for temperature for 2000-2019: (5097760, 29)

In [13]:
wind = combine_annual_data('wind')

Adding file all_data\daily_WIND_2000.csv
Adding file all_data\daily_WIND_2001.csv
Adding file all_data\daily_WIND_2002.csv
Adding file all_data\daily_WIND_2003.csv
Adding file all_data\daily_WIND_2004.csv
Adding file all_data\daily_WIND_2005.csv
Adding file all_data\daily_WIND_2006.csv
Adding file all_data\daily_WIND_2007.csv
Adding file all_data\daily_WIND_2008.csv
Adding file all_data\daily_WIND_2009.csv
Adding file all_data\daily_WIND_2010.csv
Adding file all_data\daily_WIND_2011.csv
Adding file all_data\daily_WIND_2012.csv
Adding file all_data\daily_WIND_2013.csv
Adding file all_data\daily_WIND_2014.csv
Adding file all_data\daily_WIND_2015.csv
Adding file all_data\daily_WIND_2016.csv
Adding file all_data\daily_WIND_2017.csv
Adding file all_data\daily_WIND_2018.csv
Adding file all_data\daily_WIND_2019.csv
Combining files...
Done!
Shape of dataframe for wind for 2000-2019: (7484243, 29)

In [14]:
aqi = combine_annual_data('aqi')

Adding file all_data\daily_aqi_by_county_2000.csv
Adding file all_data\daily_aqi_by_county_2001.csv
Adding file all_data\daily_aqi_by_county_2002.csv
Adding file all_data\daily_aqi_by_county_2003.csv
Adding file all_data\daily_aqi_by_county_2004.csv
Adding file all_data\daily_aqi_by_county_2005.csv
Adding file all_data\daily_aqi_by_county_2006.csv
Adding file all_data\daily_aqi_by_county_2007.csv
Adding file all_data\daily_aqi_by_county_2008.csv
Adding file all_data\daily_aqi_by_county_2009.csv
Adding file all_data\daily_aqi_by_county_2010.csv
Adding file all_data\daily_aqi_by_county_2011.csv
Adding file all_data\daily_aqi_by_county_2012.csv
Adding file all_data\daily_aqi_by_county_2013.csv
Adding file all_data\daily_aqi_by_county_2014.csv
Adding file all_data\daily_aqi_by_county_2015.csv
Adding file all_data\daily_aqi_by_county_2016.csv
Adding file all_data\daily_aqi_by_county_2017.csv
Adding file all_data\daily_aqi_by_county_2018.csv
Adding file all_data\daily_aqi_by_county_2019.csv
Combining files...
Done!
Shape of dataframe for aqi for 2000-2019: (6352663, 10)

In [15]:
# Define variables
pollutants = ['co', 'no2', 'o3', 'so2', 'pm10', 'pm25']
measures = ['pressure', 'temperature', 'wind']
target = aqi
dataframes = [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]

In [16]:
#Total number of rows in all data
total = 0
print('List of dataframe shapes')
for df in dataframes:
    print(df.shape)
    total += df.shape[0]
total += target.shape[0]
print(target.shape)
print(f'There are {total} rows altogether in these dataframes.')

List of dataframe shapes
(4976812, 29)
(2829046, 29)
(7281203, 29)
(6874455, 29)
(3047476, 29)
(5032639, 29)
(1758728, 29)
(5097760, 29)
(7484243, 29)
(6352663, 10)
There are 50735025 rows altogether in these dataframes.

I have combined all annual files into one dataframe for each measure. The dataframes are co, no2, o3, so2, pm10, pm25, pressure, temperature, wind, and aqi. Each dataframe consists of 20 years of daily measurements across the country for the given measure. All together there are over 50 million rows of data.

# Check For Nulls

In [17]:
def check_nulls(measure, as_percent=False):
    """
    Input 
    measure
    as_percent boolean
    """
    if as_percent==True:
        return measure.isna().sum()/len(measure)
    else:
        return measure.isna().sum()

In [18]:
dataframes = [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind, aqi]
num = 0
for df in dataframes: 
    print(num)
    display(df.shape)
    display(check_nulls(df, as_percent=True))
    num += 1

0

(4976812, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.499930
Method Code            0.500070
Method Name            0.000000
Local Site Name        0.128874
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.029996
Date of Last Change    0.000000
dtype: float64

1

(2829046, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.067927
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.068083
Date of Last Change    0.000000
dtype: float64

2

(7281203, 29)

State Code             0.000000e+00
County Code            0.000000e+00
Site Num               0.000000e+00
Parameter Code         0.000000e+00
POC                    0.000000e+00
Latitude               0.000000e+00
Longitude              0.000000e+00
Datum                  0.000000e+00
Parameter Name         0.000000e+00
Sample Duration        0.000000e+00
Pollutant Standard     0.000000e+00
Date Local             0.000000e+00
Units of Measure       0.000000e+00
Event Type             0.000000e+00
Observation Count      0.000000e+00
Observation Percent    0.000000e+00
Arithmetic Mean        0.000000e+00
1st Max Value          0.000000e+00
1st Max Hour           0.000000e+00
AQI                    8.240397e-07
Method Code            1.000000e+00
Method Name            0.000000e+00
Local Site Name        5.452945e-02
Address                0.000000e+00
State Name             0.000000e+00
County Name            0.000000e+00
City Name              0.000000e+00
CBSA Name              9.835751e-02
Date of Last Change    0.000000e+00
dtype: float64

3

(6874455, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.499787
Method Code            0.499787
Method Name            0.000000
Local Site Name        0.153406
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.095256
Date of Last Change    0.000000
dtype: float64

4

(3047476, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.000000
Method Code            0.540743
Method Name            0.000000
Local Site Name        0.099312
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.101266
Date of Last Change    0.000000
dtype: float64

5

(5032639, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.252377
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.252377
Method Code            0.246239
Method Name            0.000000
Local Site Name        0.053393
Address                0.000156
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.069690
Date of Last Change    0.000000
dtype: float64

6

(1758728, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     1.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    1.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.084798
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.134576
Date of Last Change    0.000000
dtype: float64

7

(5097760, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     1.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    1.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.073660
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.131998
Date of Last Change    0.000000
dtype: float64

8

(7484243, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     1.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    1.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.043518
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.100513
Date of Last Change    0.000000
dtype: float64

9

(6352663, 10)

State Name                   0.0
county Name                  0.0
State Code                   0.0
County Code                  0.0
Date                         0.0
AQI                          0.0
Category                     0.0
Defining Parameter           0.0
Defining Site                0.0
Number of Sites Reporting    0.0
dtype: float64

# Format Data

I have now combined the daily data for each of the 6 pollutants, 3 meterological measures and AQI for the years 2000 through 2019. The next task is to combine these 10 dataframes into 1 dateframe for modeling. I need to first standardize the column names and pick the features I want to include. Then I will need to check data types and handle null values and placeholders.

In [19]:
co.head(1)

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,Pollutant Standard,Date Local,Units of Measure,Event Type,Observation Count,Observation Percent,Arithmetic Mean,1st Max Value,1st Max Hour,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,28,42101,1,33.529444,-86.850278,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.970833,1.4,3,NaN,88.0,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,NaN,"EAST THOMAS, FINLEY, 841 FINLEY AVE. BP.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2016-04-15

In [20]:
co.columns

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

In [21]:
co.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976812 entries, 0 to 4976811
Data columns (total 29 columns):
 #   Column               Dtype
---  ------               -----
 0   State Code           int64
 1   County Code          int64
 2   Site Num             int64
 3   Parameter Code       int64
 4   POC                  int64
 5   Latitude             float64
 6   Longitude            float64
 7   Datum                object
 8   Parameter Name       object
 9   Sample Duration      object
 10  Pollutant Standard   object
 11  Date Local           object
 12  Units of Measure     object
 13  Event Type           object
 14  Observation Count    int64
 15  Observation Percent  float64
 16  Arithmetic Mean      float64
 17  1st Max Value        float64
 18  1st Max Hour         int64
 19  AQI                  float64
 20  Method Code          float64
 21  Method Name          object
 22  Local Site Name      object
 23  Address              object
 24  State Name           object
 25  County Name          object
 26  City Name            object
 27  CBSA Name            object
 28  Date of Last Change  object
dtypes: float64(7), int64(7), object(15)
memory usage: 1.1+ GB

In [22]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6352663 entries, 0 to 6352662
Data columns (total 10 columns):
 #   Column                     Dtype
---  ------                     -----
 0   State Name                 object
 1   county Name                object
 2   State Code                 object
 3   County Code                int64
 4   Date                       object
 5   AQI                        int64
 6   Category                   object
 7   Defining Parameter         object
 8   Defining Site              object
 9   Number of Sites Reporting  int64
dtypes: int64(3), object(7)
memory usage: 484.7+ MB

In [23]:
#Convert date_local to datetime format
dataframes = [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]
for df in dataframes:
    df['Date Local'] = pd.to_datetime(df['Date Local'], format='%Y-%m-%d')
aqi['Date'] = pd.to_datetime(aqi['Date'], format='%Y-%m-%d')

In [24]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6352663 entries, 0 to 6352662
Data columns (total 10 columns):
 #   Column                     Dtype
---  ------                     -----
 0   State Name                 object
 1   county Name                object
 2   State Code                 object
 3   County Code                int64
 4   Date                       datetime64[ns]
 5   AQI                        int64
 6   Category                   object
 7   Defining Parameter         object
 8   Defining Site              object
 9   Number of Sites Reporting  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 484.7+ MB

In [25]:
co.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976812 entries, 0 to 4976811
Data columns (total 29 columns):
 #   Column               Dtype
---  ------               -----
 0   State Code           int64
 1   County Code          int64
 2   Site Num             int64
 3   Parameter Code       int64
 4   POC                  int64
 5   Latitude             float64
 6   Longitude            float64
 7   Datum                object
 8   Parameter Name       object
 9   Sample Duration      object
 10  Pollutant Standard   object
 11  Date Local           datetime64[ns]
 12  Units of Measure     object
 13  Event Type           object
 14  Observation Count    int64
 15  Observation Percent  float64
 16  Arithmetic Mean      float64
 17  1st Max Value        float64
 18  1st Max Hour         int64
 19  AQI                  float64
 20  Method Code          float64
 21  Method Name          object
 22  Local Site Name      object
 23  Address              object
 24  State Name           object
 25  County Name          object
 26  City Name            object
 27  CBSA Name            object
 28  Date of Last Change  object
dtypes: datetime64[ns](1), float64(7), int64(7), object(14)
memory usage: 1.1+ GB

## Standardize Column Names

All dataframes have identical column names except for aqi.

In [26]:
#Check if columns are the same across all dataframes
print(co.columns == no2.columns)
print(co.columns == o3.columns)
print(co.columns == so2.columns)
print(co.columns == pm10.columns)
print(co.columns == pm25.columns)
print(co.columns == pressure.columns)
print(co.columns == temperature.columns)
print(co.columns == wind.columns)
print(co.shape == aqi.shape)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
False

In [27]:
o3.columns

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

In [28]:
#Standardize column names
for dataframe in dataframes:
    dataframe.columns = dataframe.columns.str.replace(' ', '_')
    dataframe.columns = dataframe.columns.str.lower()

In [29]:
aqi.columns = aqi.columns.str.replace(' ', '_')
aqi.columns = aqi.columns.str.lower()

In [30]:
co.columns

Index(['state_code', 'county_code', 'site_num', 'parameter_code', 'poc',
       'latitude', 'longitude', 'datum', 'parameter_name', 'sample_duration',
       'pollutant_standard', 'date_local', 'units_of_measure', 'event_type',
       'observation_count', 'observation_percent', 'arithmetic_mean',
       '1st_max_value', '1st_max_hour', 'aqi', 'method_code', 'method_name',
       'local_site_name', 'address', 'state_name', 'county_name', 'city_name',
       'cbsa_name', 'date_of_last_change'],
      dtype='object')

In [31]:
aqi.columns

Index(['state_name', 'county_name', 'state_code', 'county_code', 'date', 'aqi',
       'category', 'defining_parameter', 'defining_site',
       'number_of_sites_reporting'],
      dtype='object')

In [32]:
aqi.head(1)

,state_name,county_name,state_code,county_code,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
0,Alabama,Baldwin,01,3,2000-01-16,25,Good,PM2.5,01-003-0010,1

In [33]:
aqi.rename(columns={'date': 'date_local'}, inplace=True)
aqi.head(1)

,state_name,county_name,state_code,county_code,date_local,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
0,Alabama,Baldwin,01,3,2000-01-16,25,Good,PM2.5,01-003-0010,1

In [34]:
# Check
for dataframe in dataframes:
    display(dataframe.head(1))

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,73,28,42101,1,33.529444,-86.850278,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.970833,1.4,3,NaN,88.0,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,NaN,"EAST THOMAS, FINLEY, 841 FINLEY AVE. BP.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2016-04-15

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,117,4,42602,1,33.317142,-86.825754,NAD83,Nitrogen dioxide (NO2),1 HOUR,NO2 1-hour,2000-03-01,Parts per billion,None,24,100.0,7.875,20.0,5,19,90,INSTRUMENTAL - GAS-PHASE CHEMILUMINESCENCE,HELENA,"HELENA, BEARDEN FARM",Alabama,Shelby,Helena,"Birmingham-Hoover, AL",2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-02-29,Parts per million,None,1,6.0,0.023,0.023,23,21.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,33,44,42401,1,34.690647,-87.821422,WGS84,Sulfur dioxide,1 HOUR,SO2 1-hour 2010,2000-01-01,Parts per billion,None,24,100.0,1.625,7.0,0,10.0,20.0,INSTRUMENTAL - PULSED FLUORESCENT,NaN,TVA COLBERT 14___3.98 MI SE COLBERT FP,Alabama,Colbert,Not in a city,"Florence-Muscle Shoals, AL",2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,49,1002,81102,1,34.456199,-85.707189,WGS84,PM10 Total 0-10um STP,24 HOUR,PM10 24-hour 2006,2000-01-01,Micrograms/cubic meter (25 C),None,1,100.0,13.0,13.0,0,12,63.0,HI-VOL SA/GMW-1200 - GRAVIMETRIC,FT.PAYNE (CLOSED),1500 WILLIAMS AVE. N.E.,Alabama,DeKalb,Fort Payne,"Fort Payne, AL",2019-09-09

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,3,10,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,24 HOUR,PM25 24-hour 2012,2000-01-16,Micrograms/cubic meter (LC),None,1,100.0,5.9,5.9,0,25.0,120.0,Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2015-04-02

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,6,7,2,64101,1,39.757371,-121.843286,WGS84,Barometric pressure,1 HOUR,NaN,2000-01-01,Millibars,None,24,100.0,1007.9,1009.2,9,NaN,14,INSTRUMENTAL - BAROMETRIC SENSOR,Chico-Manzanita Ave.,"468 MANZANITA AVE, CHICO",California,Butte,Not in a city,"Chico, CA",2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-01,Degrees Fahrenheit,None,24,100.0,-25.541667,-18.0,23,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,2,68,3,61103,1,63.7232,-148.9676,WGS84,Wind Speed - Resultant,1 HOUR,NaN,2000-01-16,Knots,None,7,29.0,2.271429,3.3,21,NaN,20,INSTRUMENTAL - VECTOR SUMMATION,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2016-04-29

All column names have now been standardized.

## Create Merge Column

In [35]:
#Create column for each dataframe with location and date information to use for merging dataframes
for df in dataframes:
    df['merge_column'] = [f'{x}-{y}-{z}' for x, y, z in zip(df['state_name'], df['county_name'], df['date_local'])]

In [36]:
aqi['merge_column'] = [f'{x}-{y}-{z}' for x, y, z in zip(aqi['state_name'], aqi['county_name'], aqi['date_local'])]

In [37]:
aqi.head(1)

,state_name,county_name,state_code,county_code,date_local,aqi,category,defining_parameter,defining_site,number_of_sites_reporting,merge_column
0,Alabama,Baldwin,01,3,2000-01-16,25,Good,PM2.5,01-003-0010,1,Alabama-Baldwin-2000-01-16 00:00:00

In [38]:
o3.head(10)

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change,merge_column
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-02-29,Parts per million,None,1,6.0,0.023000,0.023,23,21.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-02-29 00:00:00
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-01,Parts per million,None,17,100.0,0.036471,0.046,11,43.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-01 00:00:00
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-02,Parts per million,None,17,100.0,0.037765,0.062,11,74.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-02 00:00:00
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-03,Parts per million,None,17,100.0,0.034941,0.037,10,34.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-03 00:00:00
4,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-04,Parts per million,None,17,100.0,0.028882,0.038,11,35.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-04 00:00:00
5,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-05,Parts per million,None,17,100.0,0.036471,0.056,12,54.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-05 00:00:00
6,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-06,Parts per million,None,17,100.0,0.038941,0.065,10,84.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-06 00:00:00
7,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-07,Parts per million,None,17,100.0,0.050882,0.072,10,105.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-07 00:00:00
8,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-08,Parts per million,None,17,100.0,0.043059,0.056,10,54.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-08 00:00:00
9,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-09,Parts per million,None,17,100.0,0.033000,0.039,9,36.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-09 00:00:00

In [39]:
#Remove spaces from all entries in merge_column
for df in dataframes:
    df['merge_column'] = df['merge_column'].apply(lambda x: x.replace(' ', '',))
aqi['merge_column'] = aqi['merge_column'].apply(lambda x: x.replace(' ', '',))

## Filter observation_percent

To ensure I am using quality data, I will drop any rows where the observation percent is less than 75% using my `filter_observation_percent` function.

In [40]:
def filter_observation_percent(df, threshold=75):
    df = df.loc[df['observation_percent'] >= threshold]
    print(f'New value counts: {df.observation_percent.value_counts()}')
    return df

In [41]:
co.observation_percent.value_counts()

100.0    3823344
96.0      708344
92.0      184931
88.0       60838
75.0       40600
83.0       26688
79.0       21758
71.0       21153
67.0       14439
63.0       11207
58.0        8897
54.0        7565
50.0        7067
46.0        6264
42.0        5748
38.0        5287
33.0        4365
29.0        3621
8.0         3228
25.0        3158
21.0        2637
17.0        2311
13.0        1921
4.0         1441
Name: observation_percent, dtype: int64

In [42]:
co = filter_observation_percent(co)

New value counts: 100.0    3823344
96.0      708344
92.0      184931
88.0       60838
75.0       40600
83.0       26688
79.0       21758
Name: observation_percent, dtype: int64

In [43]:
no2 = filter_observation_percent(no2)

New value counts: 100.0    1522978
96.0      801798
92.0      259490
88.0       91131
83.0       48704
79.0       25317
75.0       16345
Name: observation_percent, dtype: int64

In [44]:
o3 = filter_observation_percent(o3)

New value counts: 100.0    7006426
76.0       37375
82.0       34635
88.0       27072
94.0       20616
Name: observation_percent, dtype: int64

In [45]:
so2 = filter_observation_percent(so2)

New value counts: 100.0    4309494
88.0     1110413
96.0      871125
92.0      228755
75.0      173175
83.0       32325
79.0       15961
Name: observation_percent, dtype: int64

In [46]:
pm10 = filter_observation_percent(pm10)

New value counts: 100.0    3047476
Name: observation_percent, dtype: int64

In [47]:
#### This one is different so I will have to handle it manually.
pm25.observation_percent.value_counts()

100.0    4830845
96.0       80910
92.0       39185
200.0      17510
88.0       17059
83.0        8043
79.0        4683
75.0        3171
54.0        3142
50.0        3072
58.0        2962
46.0        2957
42.0        2742
63.0        2650
67.0        2502
71.0        2460
38.0        2423
33.0        1898
29.0        1189
25.0         780
4.0          529
21.0         499
17.0         429
8.0          348
13.0         346
175.0        145
183.0         39
167.0         38
192.0         37
158.0         15
150.0         10
125.0          6
142.0          4
108.0          4
117.0          4
133.0          3
Name: observation_percent, dtype: int64

In [48]:
pm25 = pm25.loc[pm25['observation_percent'] == 100]
print(f'New value counts: {pm25.observation_percent.value_counts()}')

New value counts: 100.0    4830845
Name: observation_percent, dtype: int64

In [51]:
temperature.observation_percent.value_counts()

100.0    4971551
96.0       47337
92.0       22361
88.0       10240
83.0        6278
79.0        4265
75.0        3467
63.0        3291
67.0        3282
71.0        3279
58.0        3159
54.0        3018
50.0        2734
46.0        2541
42.0        2312
38.0        2054
33.0        1559
29.0        1164
4.0          804
25.0         790
21.0         634
17.0         611
13.0         548
8.0          481
Name: observation_percent, dtype: int64

In [53]:
temperature = temperature.loc[temperature['observation_percent'] >= 75]

MemoryError: Unable to allocate 544. MiB for an array with shape (14, 5097760) and data type object

In [52]:
temperature = filter_observation_percent(temperature)

MemoryError: Unable to allocate 544. MiB for an array with shape (14, 5097760) and data type object

In [ ]:
pressure = filter_observation_percent(pressure)

In [ ]:
wind = filter_observation_percent(wind)

## Eliminate Duplicates in Merge Column

In [ ]:
def check_merge_column(data, string):
    """
    Input
    dataframe
    string
    
    return dataframe of rows with merge_column entry matching string
    """
    return data.loc[data.merge_column == string]

In [ ]:
check_merge_column(co, 'Alabama-Jefferson-2000-01-0100:00:00')

I have the column I want to merge my data on but I have multiple entries for some values. I need to eliminate duplicate entries somehow so that each value is unique across all 10 dataframes. 

The columns that have differences are site_num, sample_duration, pollutant_standard, observation_count, observation_percent, arithmetic_mean, 1st_max_value, 1st_max_hour, aqi, and city_name.

I think sample_duration is the easiest column with which to start. I will try filtering all dataframes to just one sample duration.

## Filter sample_duration

In [ ]:
for df in [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]:
    display(df.sample_duration.value_counts())

In [ ]:
co = co.loc[co.sample_duration == '1 HOUR']
co.sample_duration.value_counts()

In [ ]:
so2 = so2.loc[so2.sample_duration == '1 HOUR']
so2.sample_duration.value_counts()

In [ ]:
pm10 = pm10.loc[pm10.sample_duration == '24 HOUR']
pm10.sample_duration.value_counts()

In [ ]:
pm25 = pm25.loc[pm25.sample_duration == '24 HOUR']
pm25.sample_duration.value_counts()

In [ ]:
for df in [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]:
    display(df.sample_duration.value_counts())

In [ ]:
#Total number of rows in all data
total = 0
for df in [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind, aqi]:
    total += df.shape[0]
print(f'There are {total} rows altogether in these dataframes.')

## Aggregate data for merge_column

In [62]:
def check_for_duplicates(dfs):
    """
    Inputs
    dfs = list of dataframes
    
    Returns
    length of each dataframe
    number of duplicates in merge_column of each dataframe
    percent of duplicates in merge_column of each dataframe
    """
    num = 0
    for df in dfs:
        print(num)
        print(f'Length of dataframe {len(df)}')
        duplicates = pd.DataFrame()
        duplicates = df[df.duplicated(['merge_column'], keep=False)]
        print(f'Number of duplicates in merge_column: {len(duplicates)}')
        print(f'Percent of duplicates in merge_column: {len(duplicates)/len(df) * 100}')
        num += 1

In [63]:
check_merge_column(co, 'Alabama-Jefferson-2000-01-0100:00:00')

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change,merge_column
0,1,73,28,42101,1,33.529444,-86.850278,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.970833,1.4,3,NaN,88.0,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,NaN,"EAST THOMAS, FINLEY, 841 FINLEY AVE. BP.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2016-04-15,Alabama-Jefferson-2000-01-0100:00:00
732,1,73,1003,42101,1,33.485556,-86.915000,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.504167,2.0,18,NaN,66.0,INSTRUMENTAL - NONDISPERSIVE INFRARED,Fairfield,"FAIRFIELD, PFD, 5229 COURT B",Alabama,Jefferson,Fairfield,"Birmingham-Hoover, AL",2016-04-15,Alabama-Jefferson-2000-01-0100:00:00
1424,1,73,6004,42101,1,33.565278,-86.796389,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.145833,0.6,18,NaN,66.0,INSTRUMENTAL - NONDISPERSIVE INFRARED,Sloss Shuttlesworth,4113 SHUTTLESWORTH DRIVE,Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2016-04-15,Alabama-Jefferson-2000-01-0100:00:00

In [64]:
#Check dataframe for duplicate values in merge_column
dfs = [co, no2, o3, so2, pm10, pm25, pressure, 
       temperature, wind, aqi]
check_for_duplicates(dfs)

0
Length of dataframe 2447179
Number of duplicates in merge_column: 1526573
Percent of duplicates in merge_column: 62.380929225038294
1
Length of dataframe 2765763
Number of duplicates in merge_column: 1598809
Percent of duplicates in merge_column: 57.80715845862425
2
Length of dataframe 7126124
Number of duplicates in merge_column: 4078978
Percent of duplicates in merge_column: 57.239784208077204
3
Length of dataframe 3389144
Number of duplicates in merge_column: 1782162
Percent of duplicates in merge_column: 52.58442839843925
4
Length of dataframe 1399576
Number of duplicates in merge_column: 1005726
Percent of duplicates in merge_column: 71.85933454131823
5
Length of dataframe 2508063
Number of duplicates in merge_column: 1387597
Percent of duplicates in merge_column: 55.325444376795964
6
Length of dataframe 1748077
Number of duplicates in merge_column: 785698
Percent of duplicates in merge_column: 44.94641826418401
7
Length of dataframe 5065499
Number of duplicates in merge_column: 3371621
Percent of duplicates in merge_column: 66.56049088154987
8
Length of dataframe 7412898
Number of duplicates in merge_column: 7381136
Percent of duplicates in merge_column: 99.57153059437753
9
Length of dataframe 6352663
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0

In [65]:
co.columns

Index(['state_code', 'county_code', 'site_num', 'parameter_code', 'poc',
       'latitude', 'longitude', 'datum', 'parameter_name', 'sample_duration',
       'pollutant_standard', 'date_local', 'units_of_measure', 'event_type',
       'observation_count', 'observation_percent', 'arithmetic_mean',
       '1st_max_value', '1st_max_hour', 'aqi', 'method_code', 'method_name',
       'local_site_name', 'address', 'state_name', 'county_name', 'city_name',
       'cbsa_name', 'date_of_last_change', 'merge_column'],
      dtype='object')

In [66]:
final_columns = ['merge_column', 'state_code', 'county_code', 'state_name', 
                 'county_name', 'site_num', 'latitude', 'longitude', 'date_local', 
                 'co_arithmetic_mean', 'no2_arithmetic_mean',  'o3_arithmetic_mean',  
                 'so2_arithmetic_mean',  'pm10_arithmetic_mean',  'pm25_arithmetic_mean',  
                 'pressure_arithmetic_mean',  'temperature_arithmetic_mean',  'wind_arithmetic_mean', 
                 'aqi']

In [67]:
joint_columns = ['merge_column', 'state_code', 'county_code', 'state_name', 
        'county_name', 'site_num', 'poc', 'latitude', 'longitude', 
        'date_local', 'arithmetic_mean', '1st_max_value', '1st_max_hour', 
        'aqi']

In [68]:
keep_columns = ['merge_column', 'state_name', 'county_name', 'date_local', 'state_code', 'county_code']

In [69]:
def average_by_county(df, measure):
    """
    Takes average of measures from multiple sites within the same county on the same day
    merge_column = state-county-date
    
    Input:
    df - dataframe
    measure - string, suffix for name of new column
    """
    keep_columns = ['merge_column', 'state_name', 'county_name', 'date_local']
    column_name = str(measure)
    aggregate = df.groupby(keep_columns)["arithmetic_mean"].mean()
    agg_df = aggregate.to_frame(name=column_name).reset_index()
    return agg_df

In [70]:
co_merged = average_by_county(co, 'co')
no2_merged = average_by_county(no2, 'no2')
o3_merged = average_by_county(o3, 'o3')

In [71]:
co.head(1)

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change,merge_column
0,1,73,28,42101,1,33.529444,-86.850278,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.970833,1.4,3,NaN,88.0,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,NaN,"EAST THOMAS, FINLEY, 841 FINLEY AVE. BP.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2016-04-15,Alabama-Jefferson-2000-01-0100:00:00

In [72]:
co_merged.head(1)

,merge_column,state_name,county_name,date_local,co
0,Alabama-Jefferson-2000-01-0100:00:00,Alabama,Jefferson,2000-01-01,0.540278

In [73]:
so2_merged = average_by_county(so2, 'so2')
pm10_merged = average_by_county(pm10, 'pm10')
pm25_merged = average_by_county(pm25, 'pm25')

In [74]:
wind_merged = average_by_county(wind, 'wind')
temperature_merged = average_by_county(temperature, 'temperature')
pressure_merged = average_by_county(pressure, 'pressure')

In [75]:
temperature_merged.columns

Index(['merge_column', 'state_name', 'county_name', 'date_local',
       'temperature'],
      dtype='object')

In [76]:
wind_merged.head()

,merge_column,state_name,county_name,date_local,wind
0,Alabama-Escambia-2016-01-0100:00:00,Alabama,Escambia,2016-01-01,166.066667
1,Alabama-Escambia-2016-01-0200:00:00,Alabama,Escambia,2016-01-02,162.158333
2,Alabama-Escambia-2016-01-0300:00:00,Alabama,Escambia,2016-01-03,149.443750
3,Alabama-Escambia-2016-01-0400:00:00,Alabama,Escambia,2016-01-04,153.475000
4,Alabama-Escambia-2016-01-0500:00:00,Alabama,Escambia,2016-01-05,38.243750

In [77]:
#Check dataframe for duplicate values in merge_column
dfs = [co_merged, no2_merged, o3_merged, so2_merged,
       pm10_merged, pm25_merged, pressure_merged, 
       temperature_merged, wind_merged]
check_for_duplicates(dfs)

0
Length of dataframe 1393316
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
1
Length of dataframe 1638427
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
2
Length of dataframe 4259749
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
3
Length of dataframe 2211066
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
4
Length of dataframe 642874
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
5
Length of dataframe 1622631
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
6
Length of dataframe 1219584
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
7
Length of dataframe 2546015
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0
8
Length of dataframe 2004847
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0

In [78]:
dataframes = [co_merged, no2_merged, o3_merged, so2_merged,
       pm10_merged, pm25_merged, pressure_merged, 
       temperature_merged, wind_merged, aqi]
num = 0
for df in dataframes: 
    print(num)
    display(df.shape)
    display(check_nulls(df, as_percent=True))
    num += 1

0

(1393316, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
co              0.0
dtype: float64

1

(1638427, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
no2             0.0
dtype: float64

2

(4259749, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
o3              0.0
dtype: float64

3

(2211066, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
so2             0.0
dtype: float64

4

(642874, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
pm10            0.0
dtype: float64

5

(1622631, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
pm25            0.0
dtype: float64

6

(1219584, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
pressure        0.0
dtype: float64

7

(2546015, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
temperature     0.0
dtype: float64

8

(2004847, 5)

merge_column    0.0
state_name      0.0
county_name     0.0
date_local      0.0
wind            0.0
dtype: float64

9

(6352663, 11)

state_name                   0.0
county_name                  0.0
state_code                   0.0
county_code                  0.0
date_local                   0.0
aqi                          0.0
category                     0.0
defining_parameter           0.0
defining_site                0.0
number_of_sites_reporting    0.0
merge_column                 0.0
dtype: float64

In [79]:
so2_merged.head(10)

,merge_column,state_name,county_name,date_local,so2
0,Alabama-Colbert-2000-01-0100:00:00,Alabama,Colbert,2000-01-01,1.625000
1,Alabama-Colbert-2000-01-0200:00:00,Alabama,Colbert,2000-01-02,1.291667
2,Alabama-Colbert-2000-01-0300:00:00,Alabama,Colbert,2000-01-03,1.000000
3,Alabama-Colbert-2000-01-0400:00:00,Alabama,Colbert,2000-01-04,1.333333
4,Alabama-Colbert-2000-01-0500:00:00,Alabama,Colbert,2000-01-05,1.833333
5,Alabama-Colbert-2000-01-0600:00:00,Alabama,Colbert,2000-01-06,4.291667
6,Alabama-Colbert-2000-01-0700:00:00,Alabama,Colbert,2000-01-07,2.583333
7,Alabama-Colbert-2000-01-0800:00:00,Alabama,Colbert,2000-01-08,4.875000
8,Alabama-Colbert-2000-01-0900:00:00,Alabama,Colbert,2000-01-09,1.250000
9,Alabama-Colbert-2000-01-1000:00:00,Alabama,Colbert,2000-01-10,1.000000

# Format AQI dataframe

In [80]:
aqi.head()

,state_name,county_name,state_code,county_code,date_local,aqi,category,defining_parameter,defining_site,number_of_sites_reporting,merge_column
0,Alabama,Baldwin,01,3,2000-01-16,25,Good,PM2.5,01-003-0010,1,Alabama-Baldwin-2000-01-1600:00:00
1,Alabama,Baldwin,01,3,2000-01-19,46,Good,PM2.5,01-003-0010,1,Alabama-Baldwin-2000-01-1900:00:00
2,Alabama,Baldwin,01,3,2000-01-22,36,Good,PM2.5,01-003-0010,1,Alabama-Baldwin-2000-01-2200:00:00
3,Alabama,Baldwin,01,3,2000-01-25,26,Good,PM2.5,01-003-0010,1,Alabama-Baldwin-2000-01-2500:00:00
4,Alabama,Baldwin,01,3,2000-01-28,32,Good,PM2.5,01-003-0010,1,Alabama-Baldwin-2000-01-2800:00:00

In [81]:
check_for_duplicates([aqi])

0
Length of dataframe 6352663
Number of duplicates in merge_column: 0
Percent of duplicates in merge_column: 0.0

In [82]:
aqi_short = aqi[['merge_column', 'state_name', 'county_name', 'date_local', 'aqi', 'category', 'defining_parameter']]

In [83]:
aqi_short.head()

,merge_column,state_name,county_name,date_local,aqi,category,defining_parameter
0,Alabama-Baldwin-2000-01-1600:00:00,Alabama,Baldwin,2000-01-16,25,Good,PM2.5
1,Alabama-Baldwin-2000-01-1900:00:00,Alabama,Baldwin,2000-01-19,46,Good,PM2.5
2,Alabama-Baldwin-2000-01-2200:00:00,Alabama,Baldwin,2000-01-22,36,Good,PM2.5
3,Alabama-Baldwin-2000-01-2500:00:00,Alabama,Baldwin,2000-01-25,26,Good,PM2.5
4,Alabama-Baldwin-2000-01-2800:00:00,Alabama,Baldwin,2000-01-28,32,Good,PM2.5

In [84]:
check_merge_column(co_merged, 'Alabama-Baldwin-2000-01-1600:00:00')

Empty DataFrame
Columns: [merge_column, state_name, county_name, date_local, co]
Index: []

In [85]:
check_merge_column(pm25_merged, 'Alabama-Baldwin-2000-01-1600:00:00')

                         merge_column state_name county_name date_local  pm25
0  Alabama-Baldwin-2000-01-1600:00:00    Alabama     Baldwin 2000-01-16   5.9

In [86]:
check_merge_column(aqi_short, 'Alabama-Baldwin-2000-01-1600:00:00')

,merge_column,state_name,county_name,date_local,aqi,category,defining_parameter
0,Alabama-Baldwin-2000-01-1600:00:00,Alabama,Baldwin,2000-01-16,25,Good,PM2.5

# Merge all dataframes

In [2]:
def merge_dataframes(df1, df2):
    """
    Merges dateframes on these columns:
    'merge_column', 'state_name', 'county_name', 'date_local'
    """
    full_merge = pd.merge(df1, df2, 
                          on=['merge_column', 'state_name', 'county_name', 'date_local'], 
                          how='outer')
    return full_merge

In [87]:
co_merged.head()

,merge_column,state_name,county_name,date_local,co
0,Alabama-Jefferson-2000-01-0100:00:00,Alabama,Jefferson,2000-01-01,0.540278
1,Alabama-Jefferson-2000-01-0200:00:00,Alabama,Jefferson,2000-01-02,0.534722
2,Alabama-Jefferson-2000-01-0300:00:00,Alabama,Jefferson,2000-01-03,0.319444
3,Alabama-Jefferson-2000-01-0400:00:00,Alabama,Jefferson,2000-01-04,0.920833
4,Alabama-Jefferson-2000-01-0500:00:00,Alabama,Jefferson,2000-01-05,1.008333

In [88]:
o3_merged.head()

,merge_column,state_name,county_name,date_local,o3
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036471
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.037765
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.034941
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.028882
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036471

In [91]:
merge1 = merge_dataframes(o3_merged, co_merged)

In [92]:
merge2 = merge_dataframes(merge1, no2_merged)

In [93]:
merge3 = merge_dataframes(merge2, so2_merged)

In [94]:
merge4 = merge_dataframes(merge3, pm10_merged)

In [95]:
merge5 = merge_dataframes(merge4, pm25_merged)

In [108]:
merge6 = merge_dataframes(merge5, pressure_merged)

In [109]:
merge7 = merge_dataframes(merge6, temperature_merged)

In [110]:
merge8 = merge_dataframes(merge7, wind_merged)

In [111]:
final_merge = merge_dataframes(merge8, aqi_short)

In [121]:
final_merge.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,Good,Ozone
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.037765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,Moderate,Ozone
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.034941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,Good,Ozone
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.028882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,Good,Ozone
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,Moderate,Ozone

In [ ]:
final_merge.to_csv('final_merged_data.csv', index=False)

In [117]:
final_merge.isna().sum()

MemoryError:

full_merge = pd.merge(o3_merged,co_merged,
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,no2_merged[['merge_column', 'no2']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,so2_merged[['merge_column', 'so2']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,pm10_merged[['merge_column', 'pm10']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,pm25_merged[['merge_column', 'pm25']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,pressure_merged[['merge_column', 'pressure']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,temperature_merged[['merge_column', 'temperature']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,wind_merged[['merge_column', 'wind']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

final_merge = pd.merge(full_merge,aqi_short[['merge_column', 'aqi']],
                       on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge.head()

full_merge.shape

final_merge.shape

In [136]:
final_merge.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
0,Alabama-Baldwin-2000-02-2900:00:00,Alabama,Baldwin,2000-02-29,0.023000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0
2,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.037765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0
3,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.034941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
4,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.028882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0

In [123]:
check_for_duplicates([final_merge])

0
Length of dataframe 6589563

MemoryError:

In [124]:
check_nulls(final_merge)

MemoryError:

# Check for Null Values

In [82]:
final_merge.isna().sum()

merge_column          0
state_name      2280036
county_name     2280036
date_local      2280036
o3              2280036
co              5202094
no2             4947769
so2             4375782
pm10            5967801
pm25            4986259
pressure        5385280
temperature     4052874
wind            4590210
aqi              258012
dtype: int64

In [83]:
final_merge.shape

(6610675, 14)

In [85]:
final_merge.to_csv('merged_data.csv', index=False)

In [86]:
test = final_merge.dropna(thresh=12)
test.shape

(392440, 14)

In [87]:
test.isna().sum()

merge_column         0
state_name           0
county_name          0
date_local           0
o3                   0
co               25427
no2              21483
so2              30721
pm10            246818
pm25             99312
pressure         81134
temperature       6212
wind             56298
aqi                  0
dtype: int64

In [88]:
full_rows = final_merge.dropna()
full_rows.shape

(42842, 14)

In [89]:
full_rows.state_name.unique()

array(['Alabama', 'Alaska', 'California', 'Colorado', 'Connecticut',
       'District Of Columbia', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Louisiana', 'Maryland', 'Massachusetts', 'Michigan', 'Missouri',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'Ohio', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'Wisconsin', 'Wyoming'], dtype=object)

In [90]:
full_rows.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
35829,Alabama-Jefferson-2013-12-0600:00:00,Alabama,Jefferson,2013-12-06,0.001412,0.224293,6.050000,0.370833,10.625000,5.333333,993.362500,11.962500,138.008334,26.0
35835,Alabama-Jefferson-2013-12-1200:00:00,Alabama,Jefferson,2013-12-12,0.012235,0.234672,12.108333,1.100379,13.750000,8.955556,1005.854167,1.833333,78.425000,44.0
35841,Alabama-Jefferson-2013-12-1800:00:00,Alabama,Jefferson,2013-12-18,0.009647,0.358279,21.283333,2.290151,22.857143,13.077778,1001.154167,6.529167,48.220833,66.0
35847,Alabama-Jefferson-2013-12-2400:00:00,Alabama,Jefferson,2013-12-24,0.020000,0.018384,4.504167,0.498106,9.500000,7.511111,1004.775000,-0.262500,116.585417,38.0
35853,Alabama-Jefferson-2013-12-3000:00:00,Alabama,Jefferson,2013-12-30,0.009294,0.164667,9.179167,0.835909,16.875000,11.566667,996.966667,5.645833,104.816666,55.0

In [91]:
full_rows.aqi.max()

1108.0

In [92]:
full_rows.loc[full_rows.aqi == 1108]

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
378074,California-Riverside-2007-10-2100:00:00,California,Riverside,2007-10-21,0.038597,0.228261,4.619565,2.0,481.166667,8.96,27.479167,65.586174,68.926768,1108.0

In [93]:
full_rows['target'] = pd.cut(x=full_rows['aqi'], bins=[0, 50, 100, 150, 200, 300, 2000], labels=[0,1,2,3,4,5])
full_rows.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,target
35829,Alabama-Jefferson-2013-12-0600:00:00,Alabama,Jefferson,2013-12-06,0.001412,0.224293,6.050000,0.370833,10.625000,5.333333,993.362500,11.962500,138.008334,26.0,0
35835,Alabama-Jefferson-2013-12-1200:00:00,Alabama,Jefferson,2013-12-12,0.012235,0.234672,12.108333,1.100379,13.750000,8.955556,1005.854167,1.833333,78.425000,44.0,0
35841,Alabama-Jefferson-2013-12-1800:00:00,Alabama,Jefferson,2013-12-18,0.009647,0.358279,21.283333,2.290151,22.857143,13.077778,1001.154167,6.529167,48.220833,66.0,1
35847,Alabama-Jefferson-2013-12-2400:00:00,Alabama,Jefferson,2013-12-24,0.020000,0.018384,4.504167,0.498106,9.500000,7.511111,1004.775000,-0.262500,116.585417,38.0,0
35853,Alabama-Jefferson-2013-12-3000:00:00,Alabama,Jefferson,2013-12-30,0.009294,0.164667,9.179167,0.835909,16.875000,11.566667,996.966667,5.645833,104.816666,55.0,1

In [94]:
full_rows.target.value_counts()

1    21108
0    16800
2     3581
3     1133
4      199
5       21
Name: target, dtype: int64

In [95]:
full_rows.head(30)

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,target
35829,Alabama-Jefferson-2013-12-0600:00:00,Alabama,Jefferson,2013-12-06,0.001412,0.224293,6.050000,0.370833,10.625000,5.333333,993.362500,11.962500,138.008334,26.0,0
35835,Alabama-Jefferson-2013-12-1200:00:00,Alabama,Jefferson,2013-12-12,0.012235,0.234672,12.108333,1.100379,13.750000,8.955556,1005.854167,1.833333,78.425000,44.0,0
35841,Alabama-Jefferson-2013-12-1800:00:00,Alabama,Jefferson,2013-12-18,0.009647,0.358279,21.283333,2.290151,22.857143,13.077778,1001.154167,6.529167,48.220833,66.0,1
35847,Alabama-Jefferson-2013-12-2400:00:00,Alabama,Jefferson,2013-12-24,0.020000,0.018384,4.504167,0.498106,9.500000,7.511111,1004.775000,-0.262500,116.585417,38.0,0
35853,Alabama-Jefferson-2013-12-3000:00:00,Alabama,Jefferson,2013-12-30,0.009294,0.164667,9.179167,0.835909,16.875000,11.566667,996.966667,5.645833,104.816666,55.0,1
35859,Alabama-Jefferson-2014-01-0500:00:00,Alabama,Jefferson,2014-01-05,0.023667,0.177256,12.839130,1.358334,13.875000,8.570000,991.166667,45.395833,64.483333,42.0,0
35865,Alabama-Jefferson-2014-01-1100:00:00,Alabama,Jefferson,2014-01-11,0.014875,0.391377,4.778261,2.250000,10.571429,4.010000,988.103533,57.510417,106.288542,44.0,0
35868,Alabama-Jefferson-2014-01-1400:00:00,Alabama,Jefferson,2014-01-14,0.015647,0.272314,8.756522,0.861213,14.500000,4.900000,992.207971,51.266667,110.721875,30.0,0
35871,Alabama-Jefferson-2014-01-1700:00:00,Alabama,Jefferson,2014-01-17,0.027000,0.385202,8.160000,2.435227,29.833333,6.275000,993.727651,39.766305,120.921830,59.0,1
35876,Alabama-Jefferson-2014-01-2300:00:00,Alabama,Jefferson,2014-01-23,0.027176,0.329816,17.900000,0.616008,17.571429,8.987500,1005.664583,29.556250,111.167708,48.0,0
35882,Alabama-Jefferson-2014-01-2900:00:00,Alabama,Jefferson,2014-01-29,0.012529,0.199515,7.304348,0.924053,10.857143,7.800000,1003.510417,19.812500,112.914583,48.0,0
35886,Alabama-Jefferson-2014-02-0400:00:00,Alabama,Jefferson,2014-02-04,0.005000,0.304872,6.185000,2.299243,12.285714,9.757143,992.997917,48.420834,64.531250,45.0,0
35892,Alabama-Jefferson-2014-02-1000:00:00,Alabama,Jefferson,2014-02-10,0.015765,0.199567,4.226087,0.487917,17.714286,15.812500,997.089583,39.018750,109.222917,61.0,1
35898,Alabama-Jefferson-2014-02-1600:00:00,Alabama,Jefferson,2014-02-16,0.010500,0.438184,11.578261,1.903030,19.571429,11.614286,996.664583,48.852083,77.547916,66.0,1
35904,Alabama-Jefferson-2014-02-2200:00:00,Alabama,Jefferson,2014-02-22,0.020176,0.441480,13.581069,1.770909,13.857143,8.825000,996.164583,53.012500,58.571875,54.0,1
35910,Alabama-Jefferson-2014-02-2800:00:00,Alabama,Jefferson,2014-02-28,0.018400,0.371761,14.583479,2.191667,18.142857,11.887500,994.843750,44.085417,39.610417,55.0,1
35916,Alabama-Jefferson-2014-03-0600:00:00,Alabama,Jefferson,2014-03-06,0.024879,0.233004,13.351838,0.553869,12.571429,9.012500,993.531250,42.864583,74.227083,47.0,0
35922,Alabama-Jefferson-2014-03-1200:00:00,Alabama,Jefferson,2014-03-12,0.030366,0.195674,7.200564,0.635417,17.285714,7.187500,987.337500,53.202083,122.088542,51.0,1
35928,Alabama-Jefferson-2014-03-1800:00:00,Alabama,Jefferson,2014-03-18,0.018353,0.264773,7.309028,1.437469,10.714286,7.937500,990.364583,47.841667,65.833333,44.0,0
35934,Alabama-Jefferson-2014-03-2400:00:00,Alabama,Jefferson,2014-03-24,0.036765,0.222786,8.500895,1.732083,14.428571,8.262500,996.375000,50.664583,111.909375,44.0,0
35940,Alabama-Jefferson-2014-03-3000:00:00,Alabama,Jefferson,2014-03-30,0.025265,0.200304,8.138769,0.582955,11.714286,7.912500,998.768750,52.664583,113.988542,43.0,0
35946,Alabama-Jefferson-2014-04-0500:00:00,Alabama,Jefferson,2014-04-05,0.038098,0.217628,3.609692,0.631629,10.428571,6.037500,995.370834,54.756250,121.779167,54.0,1
35952,Alabama-Jefferson-2014-04-1100:00:00,Alabama,Jefferson,2014-04-11,0.031837,0.362909,17.344203,1.083144,25.571429,15.875000,999.520833,64.520834,112.681250,78.0,1
35958,Alabama-Jefferson-2014-04-1700:00:00,Alabama,Jefferson,2014-04-17,0.043176,0.260773,9.291486,1.870644,16.000000,9.275000,1002.907638,55.311111,42.809028,63.0,1
35964,Alabama-Jefferson-2014-04-2300:00:00,Alabama,Jefferson,2014-04-23,0.036133,0.306119,11.336956,1.099432,20.428571,10.820000,991.908333,65.987500,68.493750,71.0,1
35970,Alabama-Jefferson-2014-04-2900:00:00,Alabama,Jefferson,2014-04-29,0.028088,0.353201,9.213826,0.622159,13.750000,6.400000,986.314286,72.178571,73.314286,60.0,1
35976,Alabama-Jefferson-2014-05-0500:00:00,Alabama,Jefferson,2014-05-05,0.035252,0.445318,15.973160,1.414167,35.625000,13.110000,993.995834,76.806250,90.097917,77.0,1
35982,Alabama-Jefferson-2014-05-1100:00:00,Alabama,Jefferson,2014-05-11,0.021985,0.322164,6.775000,0.868750,19.875000,11.840000,996.833333,75.895833,50.144791,81.0,1
35988,Alabama-Jefferson-2014-05-1700:00:00,Alabama,Jefferson,2014-05-17,0.040773,0.383661,12.157881,1.937689,19.375000,13.140000,998.222917,62.389584,76.269792,88.0,1
35994,Alabama-Jefferson-2014-05-2300:00:00,Alabama,Jefferson,2014-05-23,0.030227,0.424089,15.028986,1.385417,34.250000,14.500000,997.327083,79.425000,115.642708,101.0,2

In [96]:
final_merge.to_csv('nonnull_binned_data.csv', index=False)

### Success!

I have now combined the 200 files into just 2 files: `merged_data.csv` and `nonnull_binned_data.csv`.

In [97]:
temperature.shape

(5097760, 30)

In [98]:
temperature_merged.shape

(2557801, 5)

In [100]:
check_merge_column(temperature, 'Alaska-Denali-2000-01-0100:00:00')

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change,merge_column
0,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-01,Degrees Fahrenheit,None,24,100.0,-25.541667,-18.0,23,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11,Alaska-Denali-2000-01-0100:00:00

In [99]:
temperature.head()

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change,merge_column
0,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-01,Degrees Fahrenheit,None,24,100.0,-25.541667,-18.0,23,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11,Alaska-Denali-2000-01-0100:00:00
1,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-02,Degrees Fahrenheit,None,24,100.0,-13.416667,-6.0,20,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11,Alaska-Denali-2000-01-0200:00:00
2,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-03,Degrees Fahrenheit,None,24,100.0,-6.875000,-3.0,15,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11,Alaska-Denali-2000-01-0300:00:00
3,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-04,Degrees Fahrenheit,None,24,100.0,-23.375000,-18.0,0,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11,Alaska-Denali-2000-01-0400:00:00
4,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-05,Degrees Fahrenheit,None,24,100.0,-13.750000,-4.0,18,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11,Alaska-Denali-2000-01-0500:00:00