* analysis each different pollutant
    * why are they included? what are the effects? 
* focus on one area for each pollutant
* 1 hypothesis test using regression
* time series analysis
* 1 question to model

* pick region of interest 
* isolate data for region
* time series analysis and prediction graphs for individual pollutants

* graph of most and least polluted states in the US

- heat map of US aqi
- separate by region (northeast, southeast, midwest, west) and graph aqi over time 
- graph of defining parameters over time

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import folium
from time_series_analysis import *
%matplotlib inline

In [5]:
all_data = pd.read_csv('final_merged_data.csv')

In [6]:
all_data.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036,nan,nan,nan,nan,nan,nan,nan,nan,43.000,Good,Ozone
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.038,nan,nan,nan,nan,nan,nan,nan,nan,74.000,Moderate,Ozone
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.035,nan,nan,nan,nan,nan,nan,nan,nan,34.000,Good,Ozone
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.029,nan,nan,nan,nan,nan,nan,nan,nan,35.000,Good,Ozone
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036,nan,nan,nan,nan,nan,nan,nan,nan,54.000,Moderate,Ozone

In [7]:
all_data.isna().sum()/len(all_data)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
co                   0.789
no2                  0.751
so2                  0.664
pm10                 0.902
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
dtype: float64

In [8]:
all_data.shape

(6589563, 16)

In [9]:
df_no_nulls = all_data.dropna(thresh=16)

In [10]:
df_no_nulls.shape

(41372, 16)

In [11]:
df_no_nulls.isna().sum()/len(df_no_nulls)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.000
co                   0.000
no2                  0.000
so2                  0.000
pm10                 0.000
pm25                 0.000
pressure             0.000
temperature          0.000
wind                 0.000
aqi                  0.000
category             0.000
defining_parameter   0.000
dtype: float64

In [12]:
df_no_nulls['defining_parameter'].value_counts()

PM2.5    17811
Ozone    17551
NO2       2483
PM10      2234
SO2       1231
CO          62
Name: defining_parameter, dtype: int64

In [13]:
df_no_nulls[df_no_nulls['defining_parameter'] == 'PM10']

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter
35162,Alabama-Jefferson-2014-01-1700:00:00,Alabama,Jefferson,2014-01-17,0.027,0.385,8.160,2.435,29.833,6.275,993.728,39.766,120.922,59.000,Moderate,PM10
35868,Alabama-Jefferson-2016-01-1000:00:00,Alabama,Jefferson,2016-01-10,0.023,0.277,5.054,0.509,28.000,2.267,993.975,36.388,140.533,26.000,Good,PM10
36527,Alabama-Jefferson-2018-01-2300:00:00,Alabama,Jefferson,2018-01-23,0.027,0.083,8.466,3.496,12.000,3.550,997.300,47.413,126.824,40.000,Good,PM10
86166,Alaska-FairbanksNorthStar-2014-07-1000:00:00,Alaska,Fairbanks North Star,2014-07-10,0.015,0.220,4.472,2.080,23.000,2.667,744.083,66.906,84.987,22.000,Good,PM10
86186,Alaska-FairbanksNorthStar-2014-07-3100:00:00,Alaska,Fairbanks North Star,2014-07-31,0.018,0.217,4.673,1.971,27.000,4.600,753.833,62.485,72.319,28.000,Good,PM10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243633,Wyoming-Sweetwater-2012-10-0300:00:00,Wyoming,Sweetwater,2012-10-03,0.033,0.209,2.522,0.569,45.714,5.867,826.631,49.253,100.947,60.000,Moderate,PM10
4243645,Wyoming-Sweetwater-2012-10-1500:00:00,Wyoming,Sweetwater,2012-10-15,0.034,0.200,2.932,0.328,17.571,4.167,824.646,48.700,126.258,47.000,Good,PM10
4243672,Wyoming-Sweetwater-2012-11-1100:00:00,Wyoming,Sweetwater,2012-11-11,0.034,0.200,1.527,0.109,15.087,4.467,822.989,14.094,140.640,42.000,Good,PM10
4243702,Wyoming-Sweetwater-2012-12-1100:00:00,Wyoming,Sweetwater,2012-12-11,0.032,0.100,1.766,0.230,11.000,3.000,818.366,24.347,126.415,39.000,Good,PM10
4243708,Wyoming-Sweetwater-2012-12-1700:00:00,Wyoming,Sweetwater,2012-12-17,0.037,0.200,1.050,0.048,22.542,1.200,812.242,27.438,123.517,62.000,Moderate,PM10

In [14]:
df = all_data.drop(['co','pm10'], axis=1)

In [15]:
df.isna().sum()/len(df)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
no2                  0.751
so2                  0.664
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
dtype: float64

In [16]:
all_data.isna().sum()/len(all_data)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
co                   0.789
no2                  0.751
so2                  0.664
pm10                 0.902
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
dtype: float64

In [17]:
all_data['date_local'] = pd.to_datetime(all_data['date_local'])

In [18]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589563 entries, 0 to 6589562
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   merge_column        object
 1   state_name          object
 2   county_name         object
 3   date_local          datetime64[ns]
 4   o3                  float64
 5   co                  float64
 6   no2                 float64
 7   so2                 float64
 8   pm10                float64
 9   pm25                float64
 10  pressure            float64
 11  temperature         float64
 12  wind                float64
 13  aqi                 float64
 14  category            object
 15  defining_parameter  object
dtypes: datetime64[ns](1), float64(10), object(5)
memory usage: 804.4+ MB

In [19]:
all_data['year'] = pd.DatetimeIndex(all_data['date_local']).year
all_data['month'] = pd.DatetimeIndex(all_data['date_local']).month
all_data['day'] = pd.DatetimeIndex(all_data['date_local']).day

In [20]:
all_data.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter,year,month,day
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036,nan,nan,nan,nan,nan,nan,nan,nan,43.000,Good,Ozone,2000,3,1
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.038,nan,nan,nan,nan,nan,nan,nan,nan,74.000,Moderate,Ozone,2000,3,2
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.035,nan,nan,nan,nan,nan,nan,nan,nan,34.000,Good,Ozone,2000,3,3
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.029,nan,nan,nan,nan,nan,nan,nan,nan,35.000,Good,Ozone,2000,3,4
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036,nan,nan,nan,nan,nan,nan,nan,nan,54.000,Moderate,Ozone,2000,3,5

In [21]:
all_data.loc[all_data.aqi >=1000]

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter,year,month,day
133730,Arizona-Pinal-2007-05-0100:00:00,Arizona,Pinal,2007-05-01,0.045,nan,nan,3.000,479.167,nan,nan,nan,nan,2148.000,Hazardous,PM10,2007,5,1
133809,Arizona-Pinal-2007-07-1900:00:00,Arizona,Pinal,2007-07-19,0.043,nan,nan,3.000,1075.167,nan,nan,nan,nan,1734.000,Hazardous,PM10,2007,7,19
134536,Arizona-Pinal-2009-07-1700:00:00,Arizona,Pinal,2009-07-17,0.045,nan,nan,nan,751.167,nan,nan,nan,nan,1341.000,Hazardous,PM10,2009,7,17
134723,Arizona-Pinal-2010-01-2100:00:00,Arizona,Pinal,2010-01-21,0.034,nan,nan,nan,546.400,nan,nan,nan,nan,1657.000,Hazardous,PM10,2010,1,21
135252,Arizona-Pinal-2011-07-0500:00:00,Arizona,Pinal,2011-07-05,0.051,nan,nan,nan,906.833,67.200,nan,nan,nan,2212.000,Hazardous,PM10,2011,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5844659,California-Mono-2017-03-0400:00:00,California,Mono,2017-03-04,nan,nan,nan,nan,nan,nan,nan,36.333,99.597,1296.000,Hazardous,PM10,2017,3,4
5844681,California-Mono-2017-04-0600:00:00,California,Mono,2017-04-06,nan,nan,nan,nan,nan,nan,nan,44.583,110.616,3439.000,Hazardous,PM10,2017,4,6
5844793,California-Mono-2017-09-2000:00:00,California,Mono,2017-09-20,nan,nan,nan,nan,nan,nan,nan,53.312,109.067,1245.000,Hazardous,PM10,2017,9,20
5844813,California-Mono-2017-10-2000:00:00,California,Mono,2017-10-20,nan,nan,nan,nan,nan,nan,nan,39.875,120.754,1132.000,Hazardous,PM10,2017,10,20
5845142,California-Mono-2019-02-2500:00:00,California,Mono,2019-02-25,nan,nan,nan,nan,nan,nan,nan,36.931,113.619,2094.000,Hazardous,PM10,2019,2,25

In [22]:
print("Null values as a percent")
all_data.isna().sum()/len(all_data)

Null values as a percent

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
co                   0.789
no2                  0.751
so2                  0.664
pm10                 0.902
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
year                 0.000
month                0.000
day                  0.000
dtype: float64

In [26]:
all_data = all_data[all_data.state_name != 'Canada']
all_data = all_data[all_data.state_name != 'Country Of Mexico']
all_data = all_data[all_data.state_name != 'Virgin Islands']

In [22]:
va.head()

,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
3948506,Virginia,Albemarle,2008-03-31,0.019,nan,nan,nan,nan,nan,nan,nan,nan,nan
3948507,Virginia,Albemarle,2008-04-01,0.035,nan,nan,nan,nan,nan,nan,nan,nan,35.000
3948508,Virginia,Albemarle,2008-04-02,0.037,nan,nan,nan,nan,nan,nan,nan,nan,45.000
3948509,Virginia,Albemarle,2008-04-03,0.032,nan,nan,nan,nan,7.700,nan,nan,nan,32.000
3948510,Virginia,Albemarle,2008-04-04,0.027,nan,nan,nan,nan,nan,nan,nan,nan,30.000

## Visualizations

I want to see aqi levels by state on a map of the US. 

First I need to group my data by state and by year.

In [33]:
state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [34]:
all_data['state_initials'] = all_data['state_name'].map(state_abbrev)

In [35]:
all_data.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter,year,month,day,state_initials
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036,nan,nan,nan,nan,nan,nan,nan,nan,43.000,Good,Ozone,2000,3,1,AL
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.038,nan,nan,nan,nan,nan,nan,nan,nan,74.000,Moderate,Ozone,2000,3,2,AL
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.035,nan,nan,nan,nan,nan,nan,nan,nan,34.000,Good,Ozone,2000,3,3,AL
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.029,nan,nan,nan,nan,nan,nan,nan,nan,35.000,Good,Ozone,2000,3,4,AL
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036,nan,nan,nan,nan,nan,nan,nan,nan,54.000,Moderate,Ozone,2000,3,5,AL

In [52]:
annual_mean_aqi = pd.DataFrame()
for i in range(20):
    i += 2000
    year = all_data.loc[all_data.year == i]
    annual_mean_aqi[i] = year.groupby('state_initials')['aqi'].mean()

In [53]:
annual_mean_aqi

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
state_initials,,,,,,,,,,,,,,,,,,,,
AK,30.656,31.990,28.342,25.821,26.391,24.372,27.585,26.343,25.485,30.758,29.809,30.862,30.951,30.402,34.912,35.474,33.673,31.593,29.635,32.765
AL,56.976,48.593,47.511,47.148,46.797,48.147,50.588,53.226,46.884,41.289,48.808,45.810,43.267,37.897,39.937,40.805,41.175,39.237,38.321,39.713
AR,49.008,45.340,43.605,42.677,40.522,48.642,44.764,43.878,40.047,37.802,42.455,41.944,42.144,38.234,36.123,35.209,35.392,39.507,38.811,39.436
AZ,55.952,54.611,58.224,56.008,53.021,54.070,64.926,61.645,59.475,52.313,51.889,56.618,55.288,51.132,52.149,47.594,48.779,50.945,49.958,47.282
CA,61.828,63.768,65.665,64.049,60.121,56.357,60.004,58.137,60.562,56.287,54.111,58.224,57.134,55.929,56.233,55.918,55.074,57.472,57.038,46.329
CO,38.302,36.780,39.237,38.417,35.463,37.976,39.702,44.128,42.184,40.529,43.113,46.410,47.212,45.749,42.453,41.392,41.269,43.322,46.800,45.810
CT,48.387,55.563,58.274,51.782,47.203,51.428,47.929,49.992,45.689,39.781,43.839,43.158,47.997,48.162,44.813,45.512,44.310,41.294,41.232,41.299
DE,62.034,67.499,68.514,61.959,58.256,63.917,60.301,58.180,56.274,47.320,53.695,48.417,49.738,44.878,47.206,46.366,44.999,43.834,42.480,45.755
FL,48.422,43.770,41.209,41.641,44.101,44.504,46.079,44.420,41.846,39.295,42.120,41.247,38.209,36.936,37.925,36.078,38.094,38.437,36.973,39.901
GA,54.415,47.274,47.886,44.212,47.573,50.301,52.667,54.275,49.924,43.917,48.364,49.189,44.889,39.979,42.101,39.028,41.169,39.047,37.612,42.345
HI,31.604,34.841,36.861,41.158,35.127,32.158,30.380,43.110,73.641,76.148,80.273,58.344,63.292,56.027,51.470,55.019,54.659,53.248,41.650,20.538
IA,41.904,40.205,40.088,42.106,38.379,43.024,38.908,45.065,40.836,39.552,43.287,43.694,45.033,41.392,40.995,38.832,36.746,39.367,41.240,38.091
ID,35.247,38.605,36.685,32.990,33.771,31.774,31.775,31.410,29.363,28.337,29.842,28.855,30.717,32.083,30.112,32.210,29.187,36.027,32.461,25.467
IL,45.886,47.052,48.191,43.366,39.600,46.314,40.733,46.966,41.058,39.682,42.037,39.291,42.459,36.703,36.227,35.833,35.628,37.948,37.696,39.518
IN,48.472,49.867,52.554,47.910,44.094,49.554,43.522,50.189,44.144,40.237,44.248,42.603,43.071,37.951,38.546,36.102,35.664,36.727,36.281,38.070
KS,45.642,43.424,41.698,44.020,35.976,41.563,43.121,39.724,36.489,34.792,36.825,42.190,44.057,36.880,37.147,36.405,35.429,35.209,35.777,35.514
KY,51.316,50.764,51.613,47.509,43.719,51.240,46.196,54.542,45.823,40.081,46.534,44.352,46.700,38.766,39.872,39.627,40.543,39.388,38.643,35.498
LA,53.248,46.468,42.476,46.729,44.872,51.481,51.177,47.708,45.079,43.459,47.645,47.848,45.333,41.310,41.207,39.922,39.550,37.376,37.153,37.293
MA,46.424,52.654,51.786,47.453,45.333,48.757,45.852,48.374,45.571,41.147,42.751,43.319,42.282,41.585,39.878,38.864,38.124,39.376,38.867,40.678
MD,53.349,59.392,62.907,52.228,52.228,54.568,54.624,57.457,52.039,44.708,52.740,50.462,51.037,43.818,44.259,45.373,43.970,42.022,40.210,39.714
ME,31.346,35.713,35.867,36.156,34.875,38.378,36.920,38.057,36.124,34.658,35.381,35.703,35.354,36.148,34.865,35.537,32.800,35.430,35.295,35.295
MI,42.299,47.447,48.063,45.715,42.309,50.267,43.300,48.299,44.084,40.784,42.422,42.022,47.375,38.688,40.258,39.269,38.391,37.815,37.976,38.133
MN,31.518,31.563,33.453,41.159,38.456,41.450,37.217,38.643,37.297,36.465,36.130,36.026,36.343,35.991,34.369,33.913,30.516,33.619,34.376,33.638
MO,49.800,47.994,52.334,50.049,44.545,52.058,50.917,51.364,46.964,43.689,48.669,49.697,51.459,42.727,41.379,37.450,35.247,35.965,37.118,42.740
MS,56.628,48.832,45.281,48.392,46.797,53.231,52.439,50.114,46.243,41.839,45.528,45.162,42.762,38.355,39.396,37.281,37.669,36.473,39.209,39.746
MT,33.640,30.184,24.849,25.468,26.636,27.901,30.020,31.726,28.866,32.544,34.999,35.827,38.312,34.698,33.976,37.233,32.977,42.715,36.481,33.501
NC,55.925,55.124,58.033,50.047,46.744,52.071,51.420,54.511,48.103,40.800,46.369,44.339,41.616,37.183,39.060,38.309,38.510,36.314,36.133,39.654
ND,28.102,28.975,29.730,30.672,30.944,31.593,31.890,29.929,32.809,32.962,36.195,34.876,36.519,38.776,36.461,36.978,31.414,35.381,37.609,36.839
NE,36.158,34.077,32.818,33.729,32.500,35.377,33.491,35.493,36.277,30.506,34.614,35.249,39.694,34.001,32.003,32.164,31.773,33.170,31.147,30.324
NH,36.608,42.301,43.393,43.671,42.550,44.557,41.003,43.217,40.286,41.138,44.740,43.719,39.840,39.547,39.132,39.503,37.860,37.660,34.765,36.457
NJ,46.687,51.386,53.455,47.051,43.959,47.475,47.346,48.225,46.315,40.446,47.092,45.818,45.848,42.148,41.758,43.329,43.077,41.316,41.446,42.235
NM,39.533,36.518,37.449,37.869,34.941,38.864,41.437,38.848,39.722,36.138,39.053,42.666,43.066,43.007,39.427,36.247,38.320,41.213,43.954,48.384
NV,46.048,45.294,44.154,44.521,38.989,39.282,44.496,40.047,36.991,37.209,36.525,36.865,47.391,48.094,44.601,42.460,40.310,41.283,42.248,37.154
NY,42.256,46.288,47.252,42.977,39.120,43.090,38.915,44.501,42.405,38.891,41.030,39.636,39.565,37.618,36.691,38.052,37.211,34.654,34.186,34.977
OH,49.551,52.740,54.695,49.126,45.155,50.753,43.977,47.574,43.770,38.806,46.385,43.782,45.334,38.975,39.198,38.326,37.790,36.467,37.199,38.131
OK,43.979,45.927,43.893,45.619,41.596,46.227,47.657,40.920,40.862,41.993,43.761,52.158,48.737,42.914,41.196,38.245,37.313,37.902,38.525,38.004
OR,35.509,34.319,37.251,32.087,34.435,33.903,33.072,33.770,36.067,35.432,29.671,32.400,31.827,37.089,31.884,34.270,28.404,37.213,34.556,33.522
PA,52.019,59.045,58.725,52.417,50.000,54.882,48.023,50.291,47.460,43.907,48.330,46.628,48.143,44.929,44.427,45.223,43.071,42.517,39.933,41.318
PR,32.213,30.679,29.105,24.931,24.351,23.954,25.578,22.086,20.576,17.905,17.759,16.787,21.818,19.311,19.402,21.461,20.697,21.216,25.988,39.962
RI,47.105,55.804,53.933,50.286,46.963,50.087,46.197,48.713,44.801,37.672,40.812,43.542,42.871,40.663,36.953,42.035,38.626,36.016,37.189,36.827
SC,54.241,51.288,51.151,43.681,45.538,48.097,47.900,48.762,46.436,38.153,43.565,44.528,38.975,34.843,37.252,36.771,38.851,36.772,35.277,42.527
SD,32.962,32.592,27.243,34.832,34.828,39.570,38.622,35.957,35.333,35.147,37.261,36.269,42.029,40.307,35.829,35.937,33.037,34.162,34.807,37.719
TN,55.746,50.653,49.143,49.734,46.665,49.974,49.824,56.388,47.668,36.854,45.340,44.414,44.549,39.909,40.246,38.772,41.168,37.747,36.532,37.589
TX,51.932,49.011,48.970,50.295,46.515,51.137,49.465,45.016,44.125,42.734,42.342,47.876,44.989,42.616,41.020,41.183,38.675,37.590,36.794,37.584
UT,47.172,48.154,51.333,47.940,50.285,50.475,51.277,54.367,52.060,50.769,51.192,50.067,50.626,53.911,45.680,45.806,47.048,51.238,51.911,49.179
VA,45.672,48.093,49.909,44.525,42.517,45.201,44.094,46.902,41.656,36.004,42.703,39.172,38.248,34.724,34.680,35.369,34.287,33.541,31.626,32.667
VT,34.928,40.007,39.964,37.669,35.031,37.039,32.587,34.669,38.921,37.917,37.971,41.226,36.395,36.746,34.619,35.167,34.159,34.414,35.377,39.760
WA,35.855,35.537,37.403,37.236,35.236,33.506,34.686,32.428,32.323,32.007,27.436,29.080,30.623,32.235,29.283,32.024,27.072,34.079,32.456,26.647
WI,42.825,46.319,46.682,46.252,40.201,47.848,41.877,45.950,41.585,39.445,41.853,41.895,45.365,40.042,39.796,38.420,36.872,36.861,39.453,37.934
WV,58.444,58.316,57.003,53.486,50.699,54.224,51.326,55.140,47.138,43.540,43.146,39.684,40.915,35.530,35.694,35.277,33.585,32.417,30.123,30.963
WY,36.052,37.941,38.623,36.080,32.343,32.609,36.478,38.032,37.653,34.819,36.448,37.984,41.101,41.961,40.176,40.550,40.526,42.998,43.256,40.914

In [67]:
# Initiate map with center around Montana
m = folium.Map(location=[48, -102], zoom_start=3)

In [69]:
# Add the color for the chloropleth:
m.choropleth(geo_data= ,
             name='choropleth',
             data=annual_mean_aqi, 
             columns=['state_initials', '2019'],
             key_on='feature.id',
             fill_color='YlGn',
             fill_opacity=0.7,
             line_opacity=0.2,
             legend_name='Air Quality Index')
folium.LayerControl().add_to(m)

TypeError: __init__() missing 1 required positional argument: 'geo_data'

In [66]:
# Save to html
m.save('test2.html')

In [57]:
# Add the color for the chloropleth:
m.choropleth(
 geo_data='us_counties.json',
 name='choropleth',
 data=annual_mean_aqi,
 columns=['state_initials', '2019'],
 key_on='feature.id',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='Air Quality Index'
)
folium.LayerControl().add_to(m)

KeyError: "None of ['state_initials'] are in the columns"

# State Summary Data

In [63]:
states = all_data.groupby('state_name',sort=True)

In [44]:
state_data = all_data.groupby('state_name',sort=True).mean()

In [45]:
state_data.head()

,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
state_name,,,,,,,,,,
Alabama,0.030,0.526,8.955,2.132,19.980,11.906,998.543,57.892,96.029,45.467
Alaska,0.027,0.764,12.509,6.688,16.228,8.532,785.673,30.551,97.514,30.126
Arizona,0.040,0.445,13.449,2.565,33.738,7.571,856.099,63.322,93.027,53.860
Arkansas,0.031,0.479,9.748,1.916,19.628,11.158,nan,63.560,95.509,41.442
California,0.031,0.407,11.147,0.961,26.666,12.127,942.108,60.251,99.321,58.245

In [46]:
state_data.shape

(55, 10)

In [47]:
state_data

,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
state_name,,,,,,,,,,
Alabama,0.030,0.526,8.955,2.132,19.980,11.906,998.543,57.892,96.029,45.467
Alaska,0.027,0.764,12.509,6.688,16.228,8.532,785.673,30.551,97.514,30.126
Arizona,0.040,0.445,13.449,2.565,33.738,7.571,856.099,63.322,93.027,53.860
Arkansas,0.031,0.479,9.748,1.916,19.628,11.158,nan,63.560,95.509,41.442
California,0.031,0.407,11.147,0.961,26.666,12.127,942.108,60.251,99.321,58.245
Canada,0.029,nan,4.918,1.461,nan,6.663,nan,nan,nan,24.305
Colorado,0.038,0.451,11.708,1.686,22.809,7.412,806.175,49.800,96.347,41.924
Connecticut,0.034,0.453,12.803,1.933,19.457,9.777,999.208,51.057,104.294,46.872
Country Of Mexico,0.027,0.790,18.825,2.501,72.906,nan,nan,65.318,103.223,70.119
Delaware,0.032,0.356,13.081,2.076,23.975,11.253,nan,57.215,105.899,53.048
District Of Columbia,0.027,0.718,16.563,3.808,22.267,11.978,980.203,58.044,97.637,57.088
Florida,0.029,0.451,7.433,1.259,19.653,8.368,1016.061,73.069,77.732,40.914
Georgia,0.032,0.442,10.107,1.826,21.623,11.874,991.813,61.947,97.605,45.858
Hawaii,0.020,0.421,3.509,6.216,17.607,4.287,880.857,65.010,40.393,48.998
Idaho,0.036,0.705,8.843,3.236,24.710,9.059,921.529,47.886,107.552,31.836
Illinois,0.029,0.484,14.574,2.405,27.898,12.079,996.102,54.249,99.553,41.149
Indiana,0.034,0.562,10.940,3.927,20.424,11.910,996.474,53.370,95.983,43.028
Iowa,0.032,0.276,6.647,1.346,23.546,9.942,984.506,50.761,97.698,40.969
Kansas,0.031,0.388,7.123,1.585,24.319,9.491,973.638,58.022,94.724,38.998
Kentucky,0.033,0.305,9.199,2.383,20.302,11.870,995.145,57.233,94.056,45.203
Louisiana,0.028,0.467,7.964,2.611,25.921,10.409,1012.315,68.098,81.981,44.491
Maine,0.030,0.203,6.604,1.318,15.110,5.279,1008.418,46.744,105.492,35.416
Maryland,0.034,0.287,13.510,1.928,15.867,12.168,997.249,56.463,100.651,49.314
Massachusetts,0.032,0.353,9.857,2.574,14.964,9.273,1003.242,50.307,128.667,43.545
Michigan,0.034,0.291,10.476,2.013,19.825,10.383,986.371,48.611,99.676,42.714
Minnesota,0.031,0.271,9.451,0.854,22.436,8.564,990.412,39.213,100.097,35.656
Mississippi,0.032,0.292,5.281,1.201,17.618,11.553,nan,68.506,96.284,45.186
Missouri,0.036,0.417,10.357,3.096,23.824,12.438,1057.634,55.881,96.403,45.258
Montana,0.031,0.485,1.794,1.820,17.333,8.596,892.892,44.757,83.686,32.853
Nebraska,0.032,0.474,nan,0.935,27.225,8.285,972.612,57.470,96.660,33.787
Nevada,0.038,0.575,13.194,0.854,27.156,7.792,885.825,54.068,103.567,41.645
New Hampshire,0.031,0.312,7.590,2.818,13.453,8.036,971.068,48.026,105.657,40.706
New Jersey,0.029,0.506,16.591,2.532,24.735,10.250,1015.427,53.821,102.818,45.437
New Mexico,0.036,0.361,7.526,0.582,23.278,6.451,840.676,60.086,99.482,39.703
New York,0.030,0.402,17.300,2.408,14.542,9.805,988.011,49.594,99.856,40.105
North Carolina,0.034,0.483,9.745,1.733,17.819,11.406,990.192,58.833,90.599,45.524
North Dakota,0.031,0.167,2.794,0.924,12.487,6.416,946.521,42.253,106.150,33.251
Ohio,0.034,0.380,13.482,3.424,22.627,12.672,959.525,53.734,102.756,44.096
Oklahoma,0.034,0.283,7.523,2.108,22.262,10.360,936.904,60.787,90.464,42.781
Oregon,0.027,0.736,10.409,0.965,17.911,8.945,932.674,50.960,106.888,33.748
Pennsylvania,0.031,0.265,11.203,4.288,22.469,12.049,986.880,57.052,115.363,47.982
Puerto Rico,0.012,0.888,9.394,2.100,28.711,6.720,1015.376,81.704,63.341,23.255
Rhode Island,0.034,0.425,10.390,2.667,13.664,8.736,1009.306,51.456,100.499,43.406
South Carolina,0.032,0.309,6.445,1.152,20.286,11.136,nan,66.914,90.305,43.772
South Dakota,0.034,0.171,3.479,0.505,20.108,7.630,nan,48.444,106.158,35.993
Tennessee,0.035,0.458,10.277,3.518,21.669,11.914,912.889,54.697,100.264,45.749
Texas,0.031,0.308,6.295,1.085,24.772,10.506,977.679,68.032,85.820,44.126
Utah,0.039,0.563,12.787,1.556,24.165,9.083,1416.261,52.989,119.192,50.028
Vermont,0.031,0.358,9.207,2.044,12.392,8.362,990.658,47.846,105.148,36.557
Virgin Islands,0.023,nan,nan,1.401,29.044,6.493,nan,79.562,54.037,24.826
Virginia,0.033,0.333,10.714,2.310,16.319,10.348,940.462,51.795,113.125,40.241
Washington,0.027,0.714,11.952,1.047,22.724,8.747,1933.794,51.036,93.570,32.066
West Virginia,0.031,0.461,15.063,6.001,22.537,12.339,nan,54.820,97.311,44.917
Wisconsin,0.034,0.285,9.247,2.117,17.016,9.954,1014.539,48.864,98.780,41.841
Wyoming,0.040,0.153,2.932,1.120,17.848,5.709,827.954,43.754,136.380,38.808

In [49]:
state_data.isna().sum()

o3             0
co             0
no2            1
so2            0
pm10           0
pm25           0
pressure       6
temperature    0
wind           0
aqi            0
dtype: int64

In [50]:
state_data.drop(['pressure'], axis=1, inplace=True)

In [57]:
#Nebraska has a null value for no2. I will replace it with the average of the no2 measurements in the states bordering Nebraska.
nebraska_border = ['Wyoming', 'South Dakota', 'Iowa', 
                   'Kansas', 'Colorado']
border_mean = state_data.loc[nebraska_border, 'no2'].mean()
state_data.fillna(border_mean, inplace=True)

In [58]:
state_data.isna().sum()

o3             0
co             0
no2            0
so2            0
pm10           0
pm25           0
temperature    0
wind           0
aqi            0
dtype: int64

In [59]:
state_data

,o3,co,no2,so2,pm10,pm25,temperature,wind,aqi
state_name,,,,,,,,,
Alabama,0.030,0.526,8.955,2.132,19.980,11.906,57.892,96.029,45.467
Alaska,0.027,0.764,12.509,6.688,16.228,8.532,30.551,97.514,30.126
Arizona,0.040,0.445,13.449,2.565,33.738,7.571,63.322,93.027,53.860
Arkansas,0.031,0.479,9.748,1.916,19.628,11.158,63.560,95.509,41.442
California,0.031,0.407,11.147,0.961,26.666,12.127,60.251,99.321,58.245
Colorado,0.038,0.451,11.708,1.686,22.809,7.412,49.800,96.347,41.924
Connecticut,0.034,0.453,12.803,1.933,19.457,9.777,51.057,104.294,46.872
Delaware,0.032,0.356,13.081,2.076,23.975,11.253,57.215,105.899,53.048
District Of Columbia,0.027,0.718,16.563,3.808,22.267,11.978,58.044,97.637,57.088
Florida,0.029,0.451,7.433,1.259,19.653,8.368,73.069,77.732,40.914
Georgia,0.032,0.442,10.107,1.826,21.623,11.874,61.947,97.605,45.858
Hawaii,0.020,0.421,3.509,6.216,17.607,4.287,65.010,40.393,48.998
Idaho,0.036,0.705,8.843,3.236,24.710,9.059,47.886,107.552,31.836
Illinois,0.029,0.484,14.574,2.405,27.898,12.079,54.249,99.553,41.149
Indiana,0.034,0.562,10.940,3.927,20.424,11.910,53.370,95.983,43.028
Iowa,0.032,0.276,6.647,1.346,23.546,9.942,50.761,97.698,40.969
Kansas,0.031,0.388,7.123,1.585,24.319,9.491,58.022,94.724,38.998
Kentucky,0.033,0.305,9.199,2.383,20.302,11.870,57.233,94.056,45.203
Louisiana,0.028,0.467,7.964,2.611,25.921,10.409,68.098,81.981,44.491
Maine,0.030,0.203,6.604,1.318,15.110,5.279,46.744,105.492,35.416
Maryland,0.034,0.287,13.510,1.928,15.867,12.168,56.463,100.651,49.314
Massachusetts,0.032,0.353,9.857,2.574,14.964,9.273,50.307,128.667,43.545
Michigan,0.034,0.291,10.476,2.013,19.825,10.383,48.611,99.676,42.714
Minnesota,0.031,0.271,9.451,0.854,22.436,8.564,39.213,100.097,35.656
Mississippi,0.032,0.292,5.281,1.201,17.618,11.553,68.506,96.284,45.186
Missouri,0.036,0.417,10.357,3.096,23.824,12.438,55.881,96.403,45.258
Montana,0.031,0.485,1.794,1.820,17.333,8.596,44.757,83.686,32.853
Nebraska,0.032,0.474,6.378,0.935,27.225,8.285,57.470,96.660,33.787
Nevada,0.038,0.575,13.194,0.854,27.156,7.792,54.068,103.567,41.645
New Hampshire,0.031,0.312,7.590,2.818,13.453,8.036,48.026,105.657,40.706
New Jersey,0.029,0.506,16.591,2.532,24.735,10.250,53.821,102.818,45.437
New Mexico,0.036,0.361,7.526,0.582,23.278,6.451,60.086,99.482,39.703
New York,0.030,0.402,17.300,2.408,14.542,9.805,49.594,99.856,40.105
North Carolina,0.034,0.483,9.745,1.733,17.819,11.406,58.833,90.599,45.524
North Dakota,0.031,0.167,2.794,0.924,12.487,6.416,42.253,106.150,33.251
Ohio,0.034,0.380,13.482,3.424,22.627,12.672,53.734,102.756,44.096
Oklahoma,0.034,0.283,7.523,2.108,22.262,10.360,60.787,90.464,42.781
Oregon,0.027,0.736,10.409,0.965,17.911,8.945,50.960,106.888,33.748
Pennsylvania,0.031,0.265,11.203,4.288,22.469,12.049,57.052,115.363,47.982
Puerto Rico,0.012,0.888,9.394,2.100,28.711,6.720,81.704,63.341,23.255
Rhode Island,0.034,0.425,10.390,2.667,13.664,8.736,51.456,100.499,43.406
South Carolina,0.032,0.309,6.445,1.152,20.286,11.136,66.914,90.305,43.772
South Dakota,0.034,0.171,3.479,0.505,20.108,7.630,48.444,106.158,35.993
Tennessee,0.035,0.458,10.277,3.518,21.669,11.914,54.697,100.264,45.749
Texas,0.031,0.308,6.295,1.085,24.772,10.506,68.032,85.820,44.126
Utah,0.039,0.563,12.787,1.556,24.165,9.083,52.989,119.192,50.028
Vermont,0.031,0.358,9.207,2.044,12.392,8.362,47.846,105.148,36.557
Virginia,0.033,0.333,10.714,2.310,16.319,10.348,51.795,113.125,40.241
Washington,0.027,0.714,11.952,1.047,22.724,8.747,51.036,93.570,32.066
West Virginia,0.031,0.461,15.063,6.001,22.537,12.339,54.820,97.311,44.917
Wisconsin,0.034,0.285,9.247,2.117,17.016,9.954,48.864,98.780,41.841
Wyoming,0.040,0.153,2.932,1.120,17.848,5.709,43.754,136.380,38.808