# Data Cleaning

# Table of Contents

1. [Import Libraries](#Import-Libraries)
1. [Obtain Data](#Obtain-Data)
1. [Check For Nulls](#Check-For-Nulls)
1. [Format Data](#Format-Data)
1. [Standardize Column Names](#Standardize-Column-Names)
1. [Filter observation_percent](#Filter-observation_percent)
1. [Create Merge Column](#Create-Merge-Column)
1. [Eliminate Duplicates in Merge Column](#Eliminate-Duplicates-in-Merge-Column)
1. [Filter sample_duration](#Filter-sample_duration)
1. [Aggregate data for merge_column](#Aggregate-data-for-merge_column)
1. [Format AQI dataframe](#Format-AQI-dataframe)
1. [Merge all dataframes](#Merge-all-dataframes)

# Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 40)

In [3]:
import warnings
warnings.filterwarnings("ignore")

# Obtain Data

### Add webscraping

All data was downloaded from the EPA website and can be found here: https://aqs.epa.gov/aqsweb/airdata/download_files.html. The EPA only allows data to be pulled for one year at a time. I will use my `combine_annual_data` function to combine these yearly files into one big file. 

For the scope of this project, I have downloaded data for the 20 years from 2000 through 2019. At the time of this project, the quality of the data from the second half of 2019 has yet to be verified by the EPA. I may decide to drop half or all of 2019 during the EDA phase.

In [4]:
def combine_annual_data(measure):
    """
    Combines files for each year into one big file for given measure
    
    Input:
    measure (string) - ['co2', 'so2', 'no2', 'o3', 'pm10', 'pm25', 
                        'aqi', 'pressure', 'temperature', 'wind']
    
    Output:
    dataframe
    """
    measure_codes = {'co2': '42101', 'so2': '42401', 'no2': '42602', 'o3': '44201', 
                     'pm10': '81102', 'pm25': '88101', 'aqi': 'aqi_by_county',
                     'pressure': 'PRESS', 'temperature': 'TEMP', 'wind': 'WIND'}
    prefix = 'all_data\daily_'
    code = measure_codes.get(measure)
    suffix = '.csv'
    filenames = []
    for i in range(20):
        year = 2000+i
        file = prefix + code + '_' + str(year) + suffix
        print(f'Adding file {file}')
        filenames.append(file)
    print('Combining files...')
    df = pd.concat([pd.read_csv(f) for f in filenames], ignore_index = True)
    print(f'Done! \nShape of dataframe for {measure} for 2000-2019: {df.shape}')
    return df

In [5]:
co = combine_annual_data('co2')

Adding file all_data\daily_42101_2000.csv
Adding file all_data\daily_42101_2001.csv
Adding file all_data\daily_42101_2002.csv
Adding file all_data\daily_42101_2003.csv
Adding file all_data\daily_42101_2004.csv
Adding file all_data\daily_42101_2005.csv
Adding file all_data\daily_42101_2006.csv
Adding file all_data\daily_42101_2007.csv
Adding file all_data\daily_42101_2008.csv
Adding file all_data\daily_42101_2009.csv
Adding file all_data\daily_42101_2010.csv
Adding file all_data\daily_42101_2011.csv
Adding file all_data\daily_42101_2012.csv
Adding file all_data\daily_42101_2013.csv
Adding file all_data\daily_42101_2014.csv
Adding file all_data\daily_42101_2015.csv
Adding file all_data\daily_42101_2016.csv
Adding file all_data\daily_42101_2017.csv
Adding file all_data\daily_42101_2018.csv
Adding file all_data\daily_42101_2019.csv
Combining files...
Done!
Shape of dataframe for co2 for 2000-2019: (4976812, 29)

In [6]:
so2 = combine_annual_data('so2')

Adding file all_data\daily_42401_2000.csv
Adding file all_data\daily_42401_2001.csv
Adding file all_data\daily_42401_2002.csv
Adding file all_data\daily_42401_2003.csv
Adding file all_data\daily_42401_2004.csv
Adding file all_data\daily_42401_2005.csv
Adding file all_data\daily_42401_2006.csv
Adding file all_data\daily_42401_2007.csv
Adding file all_data\daily_42401_2008.csv
Adding file all_data\daily_42401_2009.csv
Adding file all_data\daily_42401_2010.csv
Adding file all_data\daily_42401_2011.csv
Adding file all_data\daily_42401_2012.csv
Adding file all_data\daily_42401_2013.csv
Adding file all_data\daily_42401_2014.csv
Adding file all_data\daily_42401_2015.csv
Adding file all_data\daily_42401_2016.csv
Adding file all_data\daily_42401_2017.csv
Adding file all_data\daily_42401_2018.csv
Adding file all_data\daily_42401_2019.csv
Combining files...
Done!
Shape of dataframe for so2 for 2000-2019: (6874455, 29)

In [7]:
no2 = combine_annual_data('no2')

Adding file all_data\daily_42602_2000.csv
Adding file all_data\daily_42602_2001.csv
Adding file all_data\daily_42602_2002.csv
Adding file all_data\daily_42602_2003.csv
Adding file all_data\daily_42602_2004.csv
Adding file all_data\daily_42602_2005.csv
Adding file all_data\daily_42602_2006.csv
Adding file all_data\daily_42602_2007.csv
Adding file all_data\daily_42602_2008.csv
Adding file all_data\daily_42602_2009.csv
Adding file all_data\daily_42602_2010.csv
Adding file all_data\daily_42602_2011.csv
Adding file all_data\daily_42602_2012.csv
Adding file all_data\daily_42602_2013.csv
Adding file all_data\daily_42602_2014.csv
Adding file all_data\daily_42602_2015.csv
Adding file all_data\daily_42602_2016.csv
Adding file all_data\daily_42602_2017.csv
Adding file all_data\daily_42602_2018.csv
Adding file all_data\daily_42602_2019.csv
Combining files...
Done!
Shape of dataframe for no2 for 2000-2019: (2829046, 29)

In [8]:
o3 = combine_annual_data('o3')

Adding file all_data\daily_44201_2000.csv
Adding file all_data\daily_44201_2001.csv
Adding file all_data\daily_44201_2002.csv
Adding file all_data\daily_44201_2003.csv
Adding file all_data\daily_44201_2004.csv
Adding file all_data\daily_44201_2005.csv
Adding file all_data\daily_44201_2006.csv
Adding file all_data\daily_44201_2007.csv
Adding file all_data\daily_44201_2008.csv
Adding file all_data\daily_44201_2009.csv
Adding file all_data\daily_44201_2010.csv
Adding file all_data\daily_44201_2011.csv
Adding file all_data\daily_44201_2012.csv
Adding file all_data\daily_44201_2013.csv
Adding file all_data\daily_44201_2014.csv
Adding file all_data\daily_44201_2015.csv
Adding file all_data\daily_44201_2016.csv
Adding file all_data\daily_44201_2017.csv
Adding file all_data\daily_44201_2018.csv
Adding file all_data\daily_44201_2019.csv
Combining files...
Done!
Shape of dataframe for o3 for 2000-2019: (7281203, 29)

In [9]:
pm10 = combine_annual_data('pm10')

Adding file all_data\daily_81102_2000.csv
Adding file all_data\daily_81102_2001.csv
Adding file all_data\daily_81102_2002.csv
Adding file all_data\daily_81102_2003.csv
Adding file all_data\daily_81102_2004.csv
Adding file all_data\daily_81102_2005.csv
Adding file all_data\daily_81102_2006.csv
Adding file all_data\daily_81102_2007.csv
Adding file all_data\daily_81102_2008.csv
Adding file all_data\daily_81102_2009.csv
Adding file all_data\daily_81102_2010.csv
Adding file all_data\daily_81102_2011.csv
Adding file all_data\daily_81102_2012.csv
Adding file all_data\daily_81102_2013.csv
Adding file all_data\daily_81102_2014.csv
Adding file all_data\daily_81102_2015.csv
Adding file all_data\daily_81102_2016.csv
Adding file all_data\daily_81102_2017.csv
Adding file all_data\daily_81102_2018.csv
Adding file all_data\daily_81102_2019.csv
Combining files...
Done!
Shape of dataframe for pm10 for 2000-2019: (3047476, 29)

In [10]:
pm25 = combine_annual_data('pm25')

Adding file all_data\daily_88101_2000.csv
Adding file all_data\daily_88101_2001.csv
Adding file all_data\daily_88101_2002.csv
Adding file all_data\daily_88101_2003.csv
Adding file all_data\daily_88101_2004.csv
Adding file all_data\daily_88101_2005.csv
Adding file all_data\daily_88101_2006.csv
Adding file all_data\daily_88101_2007.csv
Adding file all_data\daily_88101_2008.csv
Adding file all_data\daily_88101_2009.csv
Adding file all_data\daily_88101_2010.csv
Adding file all_data\daily_88101_2011.csv
Adding file all_data\daily_88101_2012.csv
Adding file all_data\daily_88101_2013.csv
Adding file all_data\daily_88101_2014.csv
Adding file all_data\daily_88101_2015.csv
Adding file all_data\daily_88101_2016.csv
Adding file all_data\daily_88101_2017.csv
Adding file all_data\daily_88101_2018.csv
Adding file all_data\daily_88101_2019.csv
Combining files...
Done!
Shape of dataframe for pm25 for 2000-2019: (5032639, 29)

In [11]:
pressure = combine_annual_data('pressure')

Adding file all_data\daily_PRESS_2000.csv
Adding file all_data\daily_PRESS_2001.csv
Adding file all_data\daily_PRESS_2002.csv
Adding file all_data\daily_PRESS_2003.csv
Adding file all_data\daily_PRESS_2004.csv
Adding file all_data\daily_PRESS_2005.csv
Adding file all_data\daily_PRESS_2006.csv
Adding file all_data\daily_PRESS_2007.csv
Adding file all_data\daily_PRESS_2008.csv
Adding file all_data\daily_PRESS_2009.csv
Adding file all_data\daily_PRESS_2010.csv
Adding file all_data\daily_PRESS_2011.csv
Adding file all_data\daily_PRESS_2012.csv
Adding file all_data\daily_PRESS_2013.csv
Adding file all_data\daily_PRESS_2014.csv
Adding file all_data\daily_PRESS_2015.csv
Adding file all_data\daily_PRESS_2016.csv
Adding file all_data\daily_PRESS_2017.csv
Adding file all_data\daily_PRESS_2018.csv
Adding file all_data\daily_PRESS_2019.csv
Combining files...
Done!
Shape of dataframe for pressure for 2000-2019: (1758728, 29)

In [12]:
temperature = combine_annual_data('temperature')

Adding file all_data\daily_TEMP_2000.csv
Adding file all_data\daily_TEMP_2001.csv
Adding file all_data\daily_TEMP_2002.csv
Adding file all_data\daily_TEMP_2003.csv
Adding file all_data\daily_TEMP_2004.csv
Adding file all_data\daily_TEMP_2005.csv
Adding file all_data\daily_TEMP_2006.csv
Adding file all_data\daily_TEMP_2007.csv
Adding file all_data\daily_TEMP_2008.csv
Adding file all_data\daily_TEMP_2009.csv
Adding file all_data\daily_TEMP_2010.csv
Adding file all_data\daily_TEMP_2011.csv
Adding file all_data\daily_TEMP_2012.csv
Adding file all_data\daily_TEMP_2013.csv
Adding file all_data\daily_TEMP_2014.csv
Adding file all_data\daily_TEMP_2015.csv
Adding file all_data\daily_TEMP_2016.csv
Adding file all_data\daily_TEMP_2017.csv
Adding file all_data\daily_TEMP_2018.csv
Adding file all_data\daily_TEMP_2019.csv
Combining files...
Done!
Shape of dataframe for temperature for 2000-2019: (5097760, 29)

In [13]:
wind = combine_annual_data('wind')

Adding file all_data\daily_WIND_2000.csv
Adding file all_data\daily_WIND_2001.csv
Adding file all_data\daily_WIND_2002.csv
Adding file all_data\daily_WIND_2003.csv
Adding file all_data\daily_WIND_2004.csv
Adding file all_data\daily_WIND_2005.csv
Adding file all_data\daily_WIND_2006.csv
Adding file all_data\daily_WIND_2007.csv
Adding file all_data\daily_WIND_2008.csv
Adding file all_data\daily_WIND_2009.csv
Adding file all_data\daily_WIND_2010.csv
Adding file all_data\daily_WIND_2011.csv
Adding file all_data\daily_WIND_2012.csv
Adding file all_data\daily_WIND_2013.csv
Adding file all_data\daily_WIND_2014.csv
Adding file all_data\daily_WIND_2015.csv
Adding file all_data\daily_WIND_2016.csv
Adding file all_data\daily_WIND_2017.csv
Adding file all_data\daily_WIND_2018.csv
Adding file all_data\daily_WIND_2019.csv
Combining files...
Done!
Shape of dataframe for wind for 2000-2019: (7484243, 29)

In [14]:
aqi = combine_annual_data('aqi')

Adding file all_data\daily_aqi_by_county_2000.csv
Adding file all_data\daily_aqi_by_county_2001.csv
Adding file all_data\daily_aqi_by_county_2002.csv
Adding file all_data\daily_aqi_by_county_2003.csv
Adding file all_data\daily_aqi_by_county_2004.csv
Adding file all_data\daily_aqi_by_county_2005.csv
Adding file all_data\daily_aqi_by_county_2006.csv
Adding file all_data\daily_aqi_by_county_2007.csv
Adding file all_data\daily_aqi_by_county_2008.csv
Adding file all_data\daily_aqi_by_county_2009.csv
Adding file all_data\daily_aqi_by_county_2010.csv
Adding file all_data\daily_aqi_by_county_2011.csv
Adding file all_data\daily_aqi_by_county_2012.csv
Adding file all_data\daily_aqi_by_county_2013.csv
Adding file all_data\daily_aqi_by_county_2014.csv
Adding file all_data\daily_aqi_by_county_2015.csv
Adding file all_data\daily_aqi_by_county_2016.csv
Adding file all_data\daily_aqi_by_county_2017.csv
Adding file all_data\daily_aqi_by_county_2018.csv
Adding file all_data\daily_aqi_by_county_2019.csv
Combining files...
Done!
Shape of dataframe for aqi for 2000-2019: (6352663, 10)

In [15]:
# Define variables
pollutants = ['co', 'no2', 'o3', 'so2', 'pm10', 'pm25']
measures = ['pressure', 'temperature', 'wind']
target = aqi
dataframes = [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]

In [16]:
#Total number of rows in all data
total = 0
print('List of dataframe shapes')
for df in dataframes:
    print(df.shape)
    total += df.shape[0]
total += target.shape[0]
print(target.shape)
print(f'There are {total} rows altogether in these dataframes.')

List of dataframe shapes
(4976812, 29)
(2829046, 29)
(7281203, 29)
(6874455, 29)
(3047476, 29)
(5032639, 29)
(1758728, 29)
(5097760, 29)
(7484243, 29)
(6352663, 10)
There are 50735025 rows altogether in these dataframes.

I have combined all annual files into one dataframe for each measure. The dataframes are co, no2, o3, so2, pm10, pm25, pressure, temperature, wind, and aqi. Each dataframe consists of 20 years of daily measurements across the country for the given measure. All together there are over 50 million rows of data.

# Check For Nulls

In [17]:
def check_nulls(measure, as_percent=False):
    """
    Input 
    measure
    as_percent boolean
    """
    if as_percent==True:
        return measure.isna().sum()/len(measure)
    else:
        return measure.isna().sum()

In [18]:
dataframes = [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind, aqi]
num = 0
for df in dataframes: 
    print(num)
    display(df.shape)
    display(check_nulls(df, as_percent=True))
    num += 1

0

(4976812, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.499930
Method Code            0.500070
Method Name            0.000000
Local Site Name        0.128874
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.029996
Date of Last Change    0.000000
dtype: float64

1

(2829046, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.067927
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.068083
Date of Last Change    0.000000
dtype: float64

2

(7281203, 29)

State Code             0.000000e+00
County Code            0.000000e+00
Site Num               0.000000e+00
Parameter Code         0.000000e+00
POC                    0.000000e+00
Latitude               0.000000e+00
Longitude              0.000000e+00
Datum                  0.000000e+00
Parameter Name         0.000000e+00
Sample Duration        0.000000e+00
Pollutant Standard     0.000000e+00
Date Local             0.000000e+00
Units of Measure       0.000000e+00
Event Type             0.000000e+00
Observation Count      0.000000e+00
Observation Percent    0.000000e+00
Arithmetic Mean        0.000000e+00
1st Max Value          0.000000e+00
1st Max Hour           0.000000e+00
AQI                    8.240397e-07
Method Code            1.000000e+00
Method Name            0.000000e+00
Local Site Name        5.452945e-02
Address                0.000000e+00
State Name             0.000000e+00
County Name            0.000000e+00
City Name              0.000000e+00
CBSA Name              9.835751e-02
Date of Last Change    0.000000e+00
dtype: float64

3

(6874455, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.499787
Method Code            0.499787
Method Name            0.000000
Local Site Name        0.153406
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.095256
Date of Last Change    0.000000
dtype: float64

4

(3047476, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.000000
Method Code            0.540743
Method Name            0.000000
Local Site Name        0.099312
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.101266
Date of Last Change    0.000000
dtype: float64

5

(5032639, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     0.252377
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    0.252377
Method Code            0.246239
Method Name            0.000000
Local Site Name        0.053393
Address                0.000156
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.069690
Date of Last Change    0.000000
dtype: float64

6

(1758728, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     1.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    1.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.084798
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.134576
Date of Last Change    0.000000
dtype: float64

7

(5097760, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     1.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    1.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.073660
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.131998
Date of Last Change    0.000000
dtype: float64

8

(7484243, 29)

State Code             0.000000
County Code            0.000000
Site Num               0.000000
Parameter Code         0.000000
POC                    0.000000
Latitude               0.000000
Longitude              0.000000
Datum                  0.000000
Parameter Name         0.000000
Sample Duration        0.000000
Pollutant Standard     1.000000
Date Local             0.000000
Units of Measure       0.000000
Event Type             0.000000
Observation Count      0.000000
Observation Percent    0.000000
Arithmetic Mean        0.000000
1st Max Value          0.000000
1st Max Hour           0.000000
AQI                    1.000000
Method Code            0.000000
Method Name            0.000000
Local Site Name        0.043518
Address                0.000000
State Name             0.000000
County Name            0.000000
City Name              0.000000
CBSA Name              0.100513
Date of Last Change    0.000000
dtype: float64

9

(6352663, 10)

State Name                   0.0
county Name                  0.0
State Code                   0.0
County Code                  0.0
Date                         0.0
AQI                          0.0
Category                     0.0
Defining Parameter           0.0
Defining Site                0.0
Number of Sites Reporting    0.0
dtype: float64

# Format Data

I have now combined the daily data for each of the 6 pollutants, 3 meterological measures and AQI for the years 2000 through 2019. The next task is to combine these 10 dataframes into 1 dateframe for modeling. I need to first standardize the column names and pick the features I want to include. Then I will need to check data types and handle null values and placeholders.

In [19]:
co.head(1)

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,Pollutant Standard,Date Local,Units of Measure,Event Type,Observation Count,Observation Percent,Arithmetic Mean,1st Max Value,1st Max Hour,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,28,42101,1,33.529444,-86.850278,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.970833,1.4,3,NaN,88.0,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,NaN,"EAST THOMAS, FINLEY, 841 FINLEY AVE. BP.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2016-04-15

In [20]:
co.columns

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

In [21]:
co.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976812 entries, 0 to 4976811
Data columns (total 29 columns):
State Code             int64
County Code            int64
Site Num               int64
Parameter Code         int64
POC                    int64
Latitude               float64
Longitude              float64
Datum                  object
Parameter Name         object
Sample Duration        object
Pollutant Standard     object
Date Local             object
Units of Measure       object
Event Type             object
Observation Count      int64
Observation Percent    float64
Arithmetic Mean        float64
1st Max Value          float64
1st Max Hour           int64
AQI                    float64
Method Code            float64
Method Name            object
Local Site Name        object
Address                object
State Name             object
County Name            object
City Name              object
CBSA Name              object
Date of Last Change    object
dtypes: float64(7), int64(7), object(15)
memory usage: 1.1+ GB

In [22]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6352663 entries, 0 to 6352662
Data columns (total 10 columns):
State Name                   object
county Name                  object
State Code                   object
County Code                  int64
Date                         object
AQI                          int64
Category                     object
Defining Parameter           object
Defining Site                object
Number of Sites Reporting    int64
dtypes: int64(3), object(7)
memory usage: 484.7+ MB

In [23]:
#Convert date_local to datetime format
dataframes = [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]
for df in dataframes:
    df['Date Local'] = pd.to_datetime(df['Date Local'], format='%Y-%m-%d')
aqi['Date'] = pd.to_datetime(aqi['Date'], format='%Y-%m-%d')

In [24]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6352663 entries, 0 to 6352662
Data columns (total 10 columns):
State Name                   object
county Name                  object
State Code                   object
County Code                  int64
Date                         datetime64[ns]
AQI                          int64
Category                     object
Defining Parameter           object
Defining Site                object
Number of Sites Reporting    int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 484.7+ MB

In [25]:
co.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976812 entries, 0 to 4976811
Data columns (total 29 columns):
State Code             int64
County Code            int64
Site Num               int64
Parameter Code         int64
POC                    int64
Latitude               float64
Longitude              float64
Datum                  object
Parameter Name         object
Sample Duration        object
Pollutant Standard     object
Date Local             datetime64[ns]
Units of Measure       object
Event Type             object
Observation Count      int64
Observation Percent    float64
Arithmetic Mean        float64
1st Max Value          float64
1st Max Hour           int64
AQI                    float64
Method Code            float64
Method Name            object
Local Site Name        object
Address                object
State Name             object
County Name            object
City Name              object
CBSA Name              object
Date of Last Change    object
dtypes: datetime64[ns](1), float64(7), int64(7), object(14)
memory usage: 1.1+ GB

## Standardize Column Names

All dataframes have identical column names except for aqi.

In [26]:
#Check if columns are the same across all dataframes
print(co.columns == no2.columns)
print(co.columns == o3.columns)
print(co.columns == so2.columns)
print(co.columns == pm10.columns)
print(co.columns == pm25.columns)
print(co.columns == pressure.columns)
print(co.columns == temperature.columns)
print(co.columns == wind.columns)
print(co.shape == aqi.shape)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
False

In [27]:
o3.columns

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

In [28]:
#Standardize column names
for dataframe in dataframes:
    dataframe.columns = dataframe.columns.str.replace(' ', '_')
    dataframe.columns = dataframe.columns.str.lower()

In [29]:
aqi.columns = aqi.columns.str.replace(' ', '_')
aqi.columns = aqi.columns.str.lower()

In [30]:
co.columns

Index(['state_code', 'county_code', 'site_num', 'parameter_code', 'poc',
       'latitude', 'longitude', 'datum', 'parameter_name', 'sample_duration',
       'pollutant_standard', 'date_local', 'units_of_measure', 'event_type',
       'observation_count', 'observation_percent', 'arithmetic_mean',
       '1st_max_value', '1st_max_hour', 'aqi', 'method_code', 'method_name',
       'local_site_name', 'address', 'state_name', 'county_name', 'city_name',
       'cbsa_name', 'date_of_last_change'],
      dtype='object')

In [31]:
aqi.columns

Index(['state_name', 'county_name', 'state_code', 'county_code', 'date', 'aqi',
       'category', 'defining_parameter', 'defining_site',
       'number_of_sites_reporting'],
      dtype='object')

In [32]:
aqi.head(1)

,state_name,county_name,state_code,county_code,date,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
0,Alabama,Baldwin,01,3,2000-01-16,25,Good,PM2.5,01-003-0010,1

In [33]:
aqi.rename(columns={'date': 'date_local'}, inplace=True)
aqi.head(1)

,state_name,county_name,state_code,county_code,date_local,aqi,category,defining_parameter,defining_site,number_of_sites_reporting
0,Alabama,Baldwin,01,3,2000-01-16,25,Good,PM2.5,01-003-0010,1

In [34]:
# Check
for dataframe in dataframes:
    display(dataframe.head(1))

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,73,28,42101,1,33.529444,-86.850278,WGS84,Carbon monoxide,1 HOUR,CO 1-hour 1971,2000-01-01,Parts per million,None,24,100.0,0.970833,1.4,3,NaN,88.0,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,NaN,"EAST THOMAS, FINLEY, 841 FINLEY AVE. BP.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2016-04-15

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,117,4,42602,1,33.317142,-86.825754,NAD83,Nitrogen dioxide (NO2),1 HOUR,NO2 1-hour,2000-03-01,Parts per billion,None,24,100.0,7.875,20.0,5,19,90,INSTRUMENTAL - GAS-PHASE CHEMILUMINESCENCE,HELENA,"HELENA, BEARDEN FARM",Alabama,Shelby,Helena,"Birmingham-Hoover, AL",2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-02-29,Parts per million,None,1,6.0,0.023,0.023,23,21.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,33,44,42401,1,34.690647,-87.821422,WGS84,Sulfur dioxide,1 HOUR,SO2 1-hour 2010,2000-01-01,Parts per billion,None,24,100.0,1.625,7.0,0,10.0,20.0,INSTRUMENTAL - PULSED FLUORESCENT,NaN,TVA COLBERT 14___3.98 MI SE COLBERT FP,Alabama,Colbert,Not in a city,"Florence-Muscle Shoals, AL",2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,49,1002,81102,1,34.456199,-85.707189,WGS84,PM10 Total 0-10um STP,24 HOUR,PM10 24-hour 2006,2000-01-01,Micrograms/cubic meter (25 C),None,1,100.0,13.0,13.0,0,12,63.0,HI-VOL SA/GMW-1200 - GRAVIMETRIC,FT.PAYNE (CLOSED),1500 WILLIAMS AVE. N.E.,Alabama,DeKalb,Fort Payne,"Fort Payne, AL",2019-09-09

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,1,3,10,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,24 HOUR,PM25 24-hour 2012,2000-01-16,Micrograms/cubic meter (LC),None,1,100.0,5.9,5.9,0,25.0,120.0,Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2015-04-02

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,6,7,2,64101,1,39.757371,-121.843286,WGS84,Barometric pressure,1 HOUR,NaN,2000-01-01,Millibars,None,24,100.0,1007.9,1009.2,9,NaN,14,INSTRUMENTAL - BAROMETRIC SENSOR,Chico-Manzanita Ave.,"468 MANZANITA AVE, CHICO",California,Butte,Not in a city,"Chico, CA",2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,2,68,3,62101,1,63.7232,-148.9676,WGS84,Outdoor Temperature,1 HOUR,NaN,2000-01-01,Degrees Fahrenheit,None,24,100.0,-25.541667,-18.0,23,NaN,41,INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2013-06-11

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,2,68,3,61103,1,63.7232,-148.9676,WGS84,Wind Speed - Resultant,1 HOUR,NaN,2000-01-16,Knots,None,7,29.0,2.271429,3.3,21,NaN,20,INSTRUMENTAL - VECTOR SUMMATION,Denali NP & PRES - Headquarters,DENALI NATIONAL PARK,Alaska,Denali,Not in a city,NaN,2016-04-29

All column names have now been standardized.

## Create Merge Column

In [35]:
#Create column for each dataframe with location and date information to use for merging dataframes
for df in dataframes:
    df['merge_column'] = [f'{x}-{y}-{z}' for x, y, z in zip(df['state_name'], df['county_name'], df['date_local'])]

In [36]:
aqi['merge_column'] = [f'{x}-{y}-{z}' for x, y, z in zip(aqi['state_name'], aqi['county_name'], aqi['date_local'])]

In [37]:
aqi.head(1)

,state_name,county_name,state_code,county_code,date_local,aqi,category,defining_parameter,defining_site,number_of_sites_reporting,merge_column
0,Alabama,Baldwin,01,3,2000-01-16,25,Good,PM2.5,01-003-0010,1,Alabama-Baldwin-2000-01-16 00:00:00

In [38]:
o3.head(10)

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,pollutant_standard,date_local,units_of_measure,event_type,observation_count,observation_percent,arithmetic_mean,1st_max_value,1st_max_hour,aqi,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change,merge_column
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-02-29,Parts per million,None,1,6.0,0.023000,0.023,23,21.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-02-29 00:00:00
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-01,Parts per million,None,17,100.0,0.036471,0.046,11,43.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-01 00:00:00
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-02,Parts per million,None,17,100.0,0.037765,0.062,11,74.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-02 00:00:00
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-03,Parts per million,None,17,100.0,0.034941,0.037,10,34.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-03 00:00:00
4,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-04,Parts per million,None,17,100.0,0.028882,0.038,11,35.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-04 00:00:00
5,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-05,Parts per million,None,17,100.0,0.036471,0.056,12,54.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-05 00:00:00
6,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-06,Parts per million,None,17,100.0,0.038941,0.065,10,84.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-06 00:00:00
7,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-07,Parts per million,None,17,100.0,0.050882,0.072,10,105.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-07 00:00:00
8,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-08,Parts per million,None,17,100.0,0.043059,0.056,10,54.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-08 00:00:00
9,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,Ozone 8-hour 2015,2000-03-09,Parts per million,None,17,100.0,0.033000,0.039,9,36.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2018-07-18,Alabama-Baldwin-2000-03-09 00:00:00

In [39]:
#Remove spaces from all entries in merge_column
for df in dataframes:
    df['merge_column'] = df['merge_column'].apply(lambda x: x.replace(' ', '',))
aqi['merge_column'] = aqi['merge_column'].apply(lambda x: x.replace(' ', '',))

## Filter observation_percent

To ensure I am using quality data, I will drop any rows where the observation percent is less than 75% using my `filter_observation_percent` function.

In [40]:
def filter_observation_percent(df, threshold=75):
    df = df.loc[df['observation_percent'] >= threshold]
    print(f'New value counts: {df.observation_percent.value_counts()}')
    return df

In [41]:
co.observation_percent.value_counts()

100.0    3823344
96.0      708344
92.0      184931
88.0       60838
75.0       40600
83.0       26688
79.0       21758
71.0       21153
67.0       14439
63.0       11207
58.0        8897
54.0        7565
50.0        7067
46.0        6264
42.0        5748
38.0        5287
33.0        4365
29.0        3621
8.0         3228
25.0        3158
21.0        2637
17.0        2311
13.0        1921
4.0         1441
Name: observation_percent, dtype: int64

In [42]:
co = filter_observation_percent(co)

New value counts: 100.0    3823344
96.0      708344
92.0      184931
88.0       60838
75.0       40600
83.0       26688
79.0       21758
Name: observation_percent, dtype: int64

In [43]:
no2 = filter_observation_percent(no2)

New value counts: 100.0    1522978
96.0      801798
92.0      259490
88.0       91131
83.0       48704
79.0       25317
75.0       16345
Name: observation_percent, dtype: int64

In [44]:
o3 = filter_observation_percent(o3)

New value counts: 100.0    7006426
76.0       37375
82.0       34635
88.0       27072
94.0       20616
Name: observation_percent, dtype: int64

In [45]:
so2 = filter_observation_percent(so2)

New value counts: 100.0    4309494
88.0     1110413
96.0      871125
92.0      228755
75.0      173175
83.0       32325
79.0       15961
Name: observation_percent, dtype: int64

In [46]:
pm10 = filter_observation_percent(pm10)

New value counts: 100.0    3047476
Name: observation_percent, dtype: int64

In [47]:
#### This one is different so I will have to handle it manually.
pm25.observation_percent.value_counts()

100.0    4830845
96.0       80910
92.0       39185
200.0      17510
88.0       17059
83.0        8043
79.0        4683
75.0        3171
54.0        3142
50.0        3072
58.0        2962
46.0        2957
42.0        2742
63.0        2650
67.0        2502
71.0        2460
38.0        2423
33.0        1898
29.0        1189
25.0         780
4.0          529
21.0         499
17.0         429
8.0          348
13.0         346
175.0        145
183.0         39
167.0         38
192.0         37
158.0         15
150.0         10
125.0          6
142.0          4
108.0          4
117.0          4
133.0          3
Name: observation_percent, dtype: int64

In [48]:
pm25 = pm25.loc[pm25['observation_percent'] == 100]
print(f'New value counts: {pm25.observation_percent.value_counts()}')

New value counts: 100.0    4830845
Name: observation_percent, dtype: int64

In [49]:
temperature = filter_observation_percent(temperature)

KeyError: MemoryError()

In [ ]:
pressure = filter_observation_percent(pressure)

In [ ]:
wind = filter_observation_percent(wind)

## Eliminate Duplicates in Merge Column

In [ ]:
def check_merge_column(data, string):
    """
    Input
    dataframe
    string
    
    return dataframe of rows with merge_column entry matching string
    """
    return data.loc[data.merge_column == string]

In [ ]:
check_merge_column(co, 'Alabama-Jefferson-2000-01-0100:00:00')

I have the column I want to merge my data on but I have multiple entries for some values. I need to eliminate duplicate entries somehow so that each value is unique across all 10 dataframes. 

The columns that have differences are site_num, sample_duration, pollutant_standard, observation_count, observation_percent, arithmetic_mean, 1st_max_value, 1st_max_hour, aqi, and city_name.

I think sample_duration is the easiest column with which to start. I will try filtering all dataframes to just one sample duration.

## Filter sample_duration

In [ ]:
for df in [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]:
    display(df.sample_duration.value_counts())

In [ ]:
co = co.loc[co.sample_duration == '1 HOUR']
co.sample_duration.value_counts()

In [ ]:
so2 = so2.loc[so2.sample_duration == '1 HOUR']
so2.sample_duration.value_counts()

In [ ]:
pm10 = pm10.loc[pm10.sample_duration == '24 HOUR']
pm10.sample_duration.value_counts()

In [ ]:
pm25 = pm25.loc[pm25.sample_duration == '24 HOUR']
pm25.sample_duration.value_counts()

In [ ]:
for df in [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind]:
    display(df.sample_duration.value_counts())

In [ ]:
#Total number of rows in all data
total = 0
for df in [co, no2, o3, so2, pm10, pm25, pressure, temperature, wind, aqi]:
    total += df.shape[0]
print(f'There are {total} rows altogether in these dataframes.')

## Aggregate data for merge_column

In [ ]:
def check_for_duplicates(dfs):
    """
    Inputs
    dfs = list of dataframes
    
    Returns
    length of each dataframe
    number of duplicates in merge_column of each dataframe
    percent of duplicates in merge_column of each dataframe
    """
    num = 0
    for df in dfs:
        print(num)
        print(f'Length of dataframe {len(df)}')
        duplicates = pd.DataFrame()
        duplicates = df[df.duplicated(['merge_column'], keep=False)]
        print(f'Number of duplicates in merge_column: {len(duplicates)}')
        print(f'Percent of duplicates in merge_column: {len(duplicates)/len(df) * 100}')
        num += 1

In [ ]:
check_merge_column(co, 'Alabama-Jefferson-2000-01-0100:00:00')

In [ ]:
#Check dataframe for duplicate values in merge_column
dfs = [co, no2, o3, so2, pm10, pm25, pressure, 
       temperature, wind, aqi]
check_for_duplicates(dfs)

In [ ]:
co.columns

In [ ]:
final_columns = ['merge_column', 'state_code', 'county_code', 'state_name', 
                 'county_name', 'site_num', 'latitude', 'longitude', 'date_local', 
                 'co_arithmetic_mean', 'no2_arithmetic_mean',  'o3_arithmetic_mean',  
                 'so2_arithmetic_mean',  'pm10_arithmetic_mean',  'pm25_arithmetic_mean',  
                 'pressure_arithmetic_mean',  'temperature_arithmetic_mean',  'wind_arithmetic_mean', 
                 'aqi']

In [ ]:
joint_columns = ['merge_column', 'state_code', 'county_code', 'state_name', 
        'county_name', 'site_num', 'poc', 'latitude', 'longitude', 
        'date_local', 'arithmetic_mean', '1st_max_value', '1st_max_hour', 
        'aqi']

In [ ]:
keep_columns = ['merge_column', 'state_name', 'county_name', 'date_local', 'state_code', 'county_code']

In [ ]:
def average_by_county(df, measure):
    """
    Takes average of measures from multiple sites within the same county on the same day
    merge_column = state-county-date
    
    Input:
    df - dataframe
    measure - string, suffix for name of new column
    """
    keep_columns = ['merge_column', 'state_name', 'county_name', 'date_local']
    column_name = str(measure)
    aggregate = df.groupby(keep_columns)["arithmetic_mean"].mean()
    agg_df = aggregate.to_frame(name=column_name).reset_index()
    return agg_df

In [ ]:
co_merged = average_by_county(co, 'co')
no2_merged = average_by_county(no2, 'no2')
o3_merged = average_by_county(o3, 'o3')

In [ ]:
co.head(1)

In [ ]:
co_merged.head(1)

In [ ]:
so2_merged = average_by_county(so2, 'so2')
pm10_merged = average_by_county(pm10, 'pm10')
pm25_merged = average_by_county(pm25, 'pm25')

In [ ]:
wind_merged = average_by_county(wind, 'wind')
temperature_merged = average_by_county(temperature, 'temperature')
pressure_merged = average_by_county(pressure, 'pressure')

In [ ]:
temperature_merged.columns

In [ ]:
wind_merged.head()

In [ ]:
#Check dataframe for duplicate values in merge_column
dfs = [co_merged, no2_merged, o3_merged, so2_merged,
       pm10_merged, pm25_merged, pressure_merged, 
       temperature_merged, wind_merged]
check_for_duplicates(dfs)

In [ ]:
dataframes = [co_merged, no2_merged, o3_merged, so2_merged,
       pm10_merged, pm25_merged, pressure_merged, 
       temperature_merged, wind_merged, aqi]
num = 0
for df in dataframes: 
    print(num)
    display(df.shape)
    display(check_nulls(df, as_percent=True))
    num += 1

In [ ]:
so2_merged.head(10)

# Format AQI dataframe

In [ ]:
aqi.head()

In [ ]:
check_for_duplicates([aqi])

In [ ]:
aqi_short = aqi[['merge_column', 'state_name', 'county_name', 'date_local', 'aqi', 'category', 'defining_parameter']]

In [ ]:
aqi_short.head()

In [ ]:
check_merge_column(co_merged, 'Alabama-Baldwin-2000-01-1600:00:00')

In [ ]:
check_merge_column(pm25_merged, 'Alabama-Baldwin-2000-01-1600:00:00')

In [ ]:
check_merge_column(aqi_short, 'Alabama-Baldwin-2000-01-1600:00:00')

# Merge all dataframes

In [ ]:
def merge_dataframes(df1, df2):
    """
    Merges dateframes on these columns:
    'merge_column', 'state_name', 'county_name', 'date_local'
    """
    full_merge = pd.merge(df1, df2, 
                          on=['merge_column', 'state_name', 'county_name', 'date_local'], 
                          how='inner')
    return full_merge

In [ ]:
co_merged.head()

In [ ]:
o3_merged.head()

In [ ]:
merge1 = merge_dataframes(o3_merged, co_merged)

In [ ]:
merge2 = merge_dataframes(merge1, no2_merged)

In [ ]:
merge3 = merge_dataframes(merge2, so2_merged)

In [ ]:
merge4 = merge_dataframes(merge3, pm10_merged)

In [ ]:
merge5 = merge_dataframes(merge4, pm25_merged)

In [ ]:
merge6 = merge_dataframes(merge5, pressure_merged)

In [ ]:
merge7 = merge_dataframes(merge6, temperature_merged)

In [ ]:
merge8 = merge_dataframes(merge7, wind_merged)

In [ ]:
final_merge = merge_dataframes(merge8, aqi_short)

In [ ]:
final_merge.head()

In [ ]:
final_merge.to_csv('final_merged_data.csv', index=False)

In [ ]:
final_merge.isna().sum()

full_merge = pd.merge(o3_merged,co_merged,
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,no2_merged[['merge_column', 'no2']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,so2_merged[['merge_column', 'so2']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,pm10_merged[['merge_column', 'pm10']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,pm25_merged[['merge_column', 'pm25']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,pressure_merged[['merge_column', 'pressure']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,temperature_merged[['merge_column', 'temperature']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge = pd.merge(full_merge,wind_merged[['merge_column', 'wind']],
                      on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

final_merge = pd.merge(full_merge,aqi_short[['merge_column', 'aqi']],
                       on=['merge_column', 'state_name', 'county_name', 'date_local'], how='outer')

full_merge.head()

full_merge.shape

final_merge.shape

In [ ]:
final_merge.head()

In [ ]:
check_for_duplicates([final_merge])

In [ ]:
check_nulls(final_merge)

# Check for Null Values

In [ ]:
final_merge.isna().sum()

In [ ]:
final_merge.shape

In [ ]:
final_merge.to_csv('merged_data.csv', index=False)

In [ ]:
test = final_merge.dropna(thresh=12)
test.shape

In [ ]:
test.isna().sum()

In [ ]:
full_rows = final_merge.dropna()
full_rows.shape

In [ ]:
full_rows.state_name.unique()

In [ ]:
full_rows.head()

In [ ]:
full_rows.aqi.max()

In [ ]:
full_rows.loc[full_rows.aqi == 1108]

In [ ]:
full_rows['target'] = pd.cut(x=full_rows['aqi'], bins=[0, 50, 100, 150, 200, 300, 2000], labels=[0,1,2,3,4,5])
full_rows.head()

In [ ]:
full_rows.target.value_counts()

In [ ]:
full_rows.head(30)

In [ ]:
final_merge.to_csv('nonnull_binned_data.csv', index=False)

### Success!

I have now combined the 200 files into just 2 files: `merged_data.csv` and `nonnull_binned_data.csv`.

In [ ]:
temperature.shape

In [ ]:
temperature_merged.shape

In [ ]:
check_merge_column(temperature, 'Alaska-Denali-2000-01-0100:00:00')

In [ ]:
temperature.head()